@import '../../styles/vars.css';
@import '../../styles/common.css';

:host {
  padding: 30px;
}

div {
  line-height: 22px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.back-button {
  background-color: white;
  margin: 15px 0;
  width: 90px;
}

.instance-name {
  color: var(--fg-color-strong);
  font-size: var(--font-size-strong);
  font-weight: bold;
}

.instance-tags {
  padding: 5px;
}

hr {
  margin: 20px 0;
}
