<dom-module id="instance-details">
  <template>
    <link rel="stylesheet" href="./instance-details.css">

    <div class="instance-name">[[instance.name]]</div>
    <hr>

    <div>
      <span class="strong">Template:</span>
      <span class="instance-templateId">[[instance.templateId]]</span>
    </div>

    <div>
      <span class="strong">Description:</span>
      <span class="instance-Description">[[instance.description]]</span>
    </div>

    <div>
      <span class="strong">Starts</span>
      <span class="instance-starts">[[instance.starts]]</span>
    </div>

    <div>
      <span class="strong">Ends</span>
      <span class="instance-ends">[[instance.ends]]</span>
    </div>

    <div>
      <span class="strong">Parameters</span>
      <tr>
        <template is="dom-repeat" items="[[instance.parameters]]" as="param">
          <li>
            <span class="strong">[[param.name]]:</span>
            <template is="dom-if" if="[[param.isSweep]]">
              From: [[param.from]], To: [[param.to]], Step: [[param.step]]
              <span class="strong">[Sweep]</span>
            </template>
            <template is="dom-if" if="[[!param.isSweep]]">
              <span>[[param.value]]</span>
            </template>
          </li>
        </template>
      </tr>
    </div>

    <div>
      <span class="strong">Tags:</span>
      <span class="instance-tags">[[instance.tags]]</span>
    </div>

    <hr>

    <a class="unstyled" href="/runs?instanceId=[[instance.id]]">
      <paper-button class="action-button" raised>
        Instance Runs
        <iron-icon icon="chevron-right"></iron-icon>
      </paper-button>
    </a>

  </template>
</dom-module>
