@import '../../styles/common.css';
@import '../../styles/inputs.css';
@import '../../styles/vars.css';

:host {
  position: relative;
}

paper-icon-button, paper-icon-button {
  align-self: flex-end;
}

.or-tag {
  min-width: 32px;
  padding: 0 var(--spacing-minus-4);
}
