<dom-module id="pipeline-new">
  <template>
    <link rel="stylesheet" href="./pipeline-new.css">

    <style>
      /*
      This is here instead of in the .css file because of css-loader, which
      tries to validate CSS while loading, and ends up commenting out all
      mixins, since they're not officially in the CSS spec.
      */
      paper-dropdown-menu, paper-input {
        --paper-input-container: {
          padding: 0;
        }
        --paper-input-container-label: {
          padding-left: 6px;
        }
        --paper-input-container-input: {
          padding-left: 6px;
        }
        --paper-input-container-label-floating: {
          padding-left: 8px;
        }
        --paper-input-error: {
          padding-left: 6px;
        }

        /* Ensure the ripple fills the whole element */
        --paper-dropdown-menu-ripple: {
          bottom: 0px;
          left: 0;
          right: 0;
          top: 0px;
        }
      }
    </style>

    <div class="toolbar">
      <a href="/pipelines" class="unstyled toolbar-arrow-back">
        <paper-icon-button icon="arrow-back"></paper-icon-button>
      </a>
      <div class="toolbar-title">
        Configure New Pipeline
      </div>
    </div>

    <page-error id="pageErrorElement" error="[[_pageError]]"></page-error>

    <div class="padded-spacing-base">
      <div class="flex">
        <paper-dropdown-menu class="input-field-large" label="Choose a Package">
          <paper-listbox id="packagesListbox" slot="dropdown-content"
                         class="dropdown-content" selected="{{_packageIndex}}">
            <template is="dom-repeat" items="[[packages]]" as="pkg">
              <paper-item package-id="[[pkg.id]]">
                <paper-item-body two-line>
                  <div>[[pkg.name]]</div>
                  <div secondary>ID: [[pkg.id]]</div>
                </paper-item-body>
              </paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu>
        <span class="or-tag">- or -</span>
        <paper-button class="action-button" on-click="_altUpload">
          Upload New Package
        </paper-button>
        <!--This is hidden but its functionality is used by the alt upload button above-->
        <input type="file" id="altFileUpload" style="display: none" on-change="_upload">
      </div>

      <paper-input id="name" class="input-field-large" label="Pipeline Name"
                   autofocus required maxlength="50" value="{{newPipeline.name}}"
                   auto-validate error-message="Pipeline must have a name">
      </paper-input>
      <paper-input id="description" class="input-field-large" label="Description"
                   value="{{newPipeline.description}}">
      </paper-input>

      <hr>

      <!-- Pipeline Parameters -->
      <template is="dom-if" if="[[newPipeline.parameters.length]]">
        <div class="param-header">Parameters</div>
        <template is="dom-repeat" items="{{newPipeline.parameters}}" as="param">
          <div class="param-description">[[param.description]]</div>
          <paper-input class="input-field-large no-shrink"
                       label="[[param.name]]" value="{{param.value}}">
          </paper-input>
        </template>
        <hr>
      </template>

      <!-- Pipeline Run Schedule -->
      <div class="param-header">Schedule</div>
      <br>
      <pipeline-schedule id="schedule"></pipeline-schedule>

      <hr>

      <paper-button id="deployButton" class="action-button" raised
                    disabled="[[!_inputIsValid]]" on-click="_deploy">
        Deploy
        <iron-icon icon="chevron-right"></iron-icon>
      </paper-button>
    </div>

    <div class="overlay" hidden="[[!_busy]]">
      <paper-spinner class="absolute-spinner" active></paper-spinner>
    </div>

  </template>
</dom-module>
