@import '../../styles/vars.css';
@import '../../styles/common.css';

:host {
  position: relative;
}

paper-dropdown-menu,
paper-input {
  --paper-input-container-focus-color: var(--accent-color);
  background-color: var(--bg-color-darker);
  border-radius: 5px;
  margin: 5px;
  width: 500px;
}

paper-item {
  cursor: default;
  padding: 0 30px;
  white-space: nowrap; /* To avoid a flicker when items first show up */
}

paper-icon-button, paper-icon-button {
  align-self: flex-end;
}

.package-link {
  align-self: flex-end;
  margin: 6px 10px;
}

.param-container {
  margin-bottom: 10px;
}

.param-input {
  margin-left: 10px;
  width: 300px;
}

.overlay {
  background-color: #ffffff78;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

paper-spinner {
  position: absolute;
  left: calc(50% - 50px / 2);
  top: calc(50% - 50px / 2);
}