@import '../../styles/vars.css';
@import '../../styles/common.css';

:host {
  padding: 30px;
  position: relative;
}

paper-dropdown-menu-light,
paper-input {
  background-color: #eee;
  border-radius: 5px;
  margin: 5px;
  width: 300px;
}

paper-item {
  cursor: default;
  padding: 0 30px;
  white-space: nowrap; /* To avoid a flicker when items first show up */
}

paper-icon-button, paper-icon-button {
  align-self: flex-end;
}

.package-link {
  align-self: flex-end;
  margin: 6px 10px;
}

.param-name {
  height: 42px;
  padding: 20px 0;
}

.param-input {
  margin-left: 10px;
  width: 100px;
}

.param-description {
  max-width: 60%;
  padding: 20px;
}

.overlay {
  background-color: #ffffff78;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

paper-spinner {
  position: absolute;
  left: calc(50% - 50px / 2);
  top: calc(50% - 50px / 2);
}