apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
- argo
- crds
- pipeline
- proxy
- metadata

images:
- name: gcr.io/ml-pipeline/api-server
  newTag: 0.1.31
- name: gcr.io/ml-pipeline/persistenceagent
  newTag: 0.1.31
- name: gcr.io/ml-pipeline/scheduledworkflow
  newTag: 0.1.31
- name: gcr.io/ml-pipeline/frontend
  newTag: 0.1.31
- name: gcr.io/ml-pipeline/viewer-crd-controller
  newTag: 0.1.31
- name: gcr.io/ml-pipeline/inverse-proxy-agent
  newTag: 0.1.31
- name: gcr.io/ml-pipeline/visualization-server
  newTag: 0.1.31
