apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./kfp-api-cert-issuer.yaml
- ./kfp-api-cert.yaml

configurations:
- params.yaml

# !!! If you want to customize the namespace,
# please also update base/cache-deployer/cluster-scoped/cache-deployer-clusterrolebinding.yaml
namespace: kubeflow
