@import '../../styles/vars.css';
@import '../../styles/common.css';

.pipeline-dag {
  position: relative;
}

.pipeline-node {
  background-color: white;
  box-shadow: 1px 1px 1px #aaa;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px;
  padding: 7px;
  position: absolute;
  text-align: center;
}

.pipeline-node .label {
  line-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pipeline-node:hover {
  height: initial !important;
  z-index: 1;
}

.pipeline-node:hover .label {
  line-height: initial !important;
  white-space: initial;
}

.pipeline-edge .line {
  border-top: 1px solid #ccc;
  position: absolute;
}

.pipeline-edge .line:nth-last-child(2)::after {
  color: #A3A3A3;
  content: '\25BA';
  font-size: 10px;
  position: absolute;
  top: -7px;
  transform: rotate(180deg);
}
