@import '../../styles/vars.css';
@import '../../styles/common.css';

.line {
  border-top: 1px solid #777;
  position: absolute;
}

.pipeline-dag {
  position: relative;
}

/* Arrow head */
.pipeline-edge .line:nth-last-child(2)::after {
  color: #777;
  content: '\25BA';
  font-size: 10px;
  left: -1px;
  position: absolute;
  top: -7px;
  transform: rotate(180deg);
}

.pipeline-node {
  background-color: #eee;
  border: solid 1px #aaa;
  box-sizing: border-box;
  cursor: default;
  font-size: var(--font-size);
  margin: 10px;
  padding: 7px;
  position: absolute;
  text-align: center;
}

.pipeline-node iron-icon {
  flex-shrink: 0;
  height: var(--icon-dimension-small);
  width: var(--icon-dimension-small);
}

.pipeline-node .label {
  line-height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pipeline-node:hover {
  @apply --shadow-elevation-3dp;
  max-height: 500px !important;
  z-index: 1;
  transition: max-height 1s;
}

.pipeline-node:hover .label {
  line-height: initial !important;
  white-space: initial;
}

.virtual-node {
  border: 1px dashed #aaa;
  border-radius: 10px;
  position: absolute;
  /* TODO: Get these values programmatically */
  transform: translate(69px, 20px);
}
