<link rel="import" href="../../../bower_components/app-route/app-location.html">
<link rel="import" href="../../../bower_components/app-route/app-route.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../template-details/template-details.html">
<link rel="import" href="../template-list/template-list.html">

<dom-module id="pipelines-dashboard">
  <template>
    <link rel="stylesheet" href="../../styles/vars.css">
    <link rel="stylesheet" href="../../styles/common.css">

    <!--Router-->
    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}"></app-route>

    <iron-pages id="pages" selected="{{page}}" attr-for-selected="name">
      <template-list name="templates"></template-list>
      <template-details name="templatesview"></template-details>
    </iron-pages>
  </template>
</dom-module>

<script src="app.ts"></script>
