@import '../../styles/vars.css';
@import '../../styles/common.css';

:host {
  display: flex;
  flex-flow: column;
}

paper-progress {
  --paper-progress-active-color: var(--theme-primary-color);
  --paper-progress-height: 10px;
}

paper-spinner {
  height: 50px;
  width: 50px;
}

paper-tabs {
  bottom: 0;
  display: inline-block;
  position: absolute;
}

paper-tab {
  font-size: 13px;
  min-width: 110px;
}

.plot-container,
#jobGraph {
  background-color: var(--background-base-color);
  border-radius: 0 0 5px 5px;
  border-top: 0;
  border: solid 1px #ddd;
  flex-grow: 1;
  overflow: auto;
}

.container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.container[loading] {
  opacity: 0.6;
}

.job-name {
  color: var(--primary-text-color);
  flex-grow: 1;
  font-size: var(--paper-font-title_-_font-size);
  font-weight: var(--paper-font-title_-_font-weight);
  line-height: var(--paper-font-title_-_line-height);
}

.pages {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.plot-container[loading] {
  opacity: 0.6;
}

.status-icon {
  color: var(--primary-text-inverse-color);
  height: 20px;
  margin: 7px;
  width: 20px;
}

.tabs-container {
  border-bottom: solid 1px var(--divider-color);
  flex: var(--height-small) 0 0;
  position: relative;
}
