@import '../../styles/vars.css';
@import '../../styles/common.css';

:host {
  display: flex;
  flex-flow: column;
}

.job-name {
  color: var(--fg-color-strong);
  flex-grow: 1;
  font-size: var(--font-size-strong);
}

.status-icon {
  color: var(--fg-color);
  height: 20px;
  width: 20px;
}

.tabs-container {
  border-bottom: solid 1px var(--line-color);
  height: 50px;
  position: relative;
}

paper-progress {
  --paper-progress-active-color: var(--progress-color);
  --paper-progress-height: 10px;
  margin: 7px;
}

.tabs-container {
  border-bottom: solid 1px var(--line-color);
  height: 50px;
  position: relative;
}

paper-tabs {
  bottom: 0;
  display: inline-block;
  position: absolute;
}

paper-tab {
  font-size: 13px;
  min-width: 110px;
}

.pipeline-dag {
  position: relative;
}

.pipeline-node {
  background-color: white;
  box-shadow: 1px 1px 1px #aaa;
  cursor: pointer;
  margin: 10px;
  position: absolute;
  text-align: center;
}

.pipeline-node .label {
  line-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pipeline-edge .line {
  border-top: 1px solid #ccc;
  position: absolute;
}

.pipeline-edge .line:nth-last-child(2)::after {
  color: #A3A3A3;
  content: '\25BA';
  font-size: 10px;
  position: absolute;
  top: -7px;
  transform: rotate(180deg);
}
