<dom-module id="job-details">
  <template>
    <link rel="stylesheet" href="./job-details.css">
    <style>
      paper-tabs {
        --paper-tabs-selection-bar: {
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 3px solid var(--theme-primary-color);
        }
      }
    </style>

    <div class="toolbar">
      <div class="flex toolbar-title">
        <a id="allJobsLink" href="/jobs" class="faded unstyled">All Jobs</a>
        <iron-icon icon="chevron-right"></iron-icon>
        <span class="job-name">[[job.name]]</span>
      </div>
      <div class="toolbar-actions">
        <paper-button id="cloneBtn" on-click="_cloneJob" disabled="[[_disableCloneJobButton]]">
          <iron-icon icon="content-copy"></iron-icon>
          Clone
        </paper-button>
        <paper-button id="refreshBtn" on-click="_refresh">
          <iron-icon icon="refresh"></iron-icon>
          Refresh
        </paper-button>
        <paper-button id="enableBtn" on-click="_enableJob"
                      disabled="[[!_allowJobEnable]]" title="Enable job schedule">
          <iron-icon icon="av:play-circle-filled"></iron-icon>
          Enable
        </paper-button>
        <paper-button id="disableBtn" on-click="_disableJob"
                      disabled="[[!_allowJobDisable]]" title="Disable job schedule">
          <iron-icon icon="av:stop"></iron-icon>
          Disable
        </paper-button>
        <paper-button id="deleteBtn" on-click="_deleteJob">
          <iron-icon icon="delete">
          </iron-icon>
          Delete
        </paper-button>
      </div>
    </div>
    <paper-progress class="loading no-shrink" indeterminate hidden="[[!_busy]]"></paper-progress>

    <page-error id="pageErrorElement" error="[[_pageError]]" class="no-shrink"
                details="[[_pageErrorDetails]]"></page-error>

    <div class="relative">
      <div class="overlay" hidden="[[!_busy]]"></div>
      <div class="scrollable padded-top-left">
        <div class="no-shrink tabs-container">
          <paper-tabs id="tabs" class="no-shrink" selected="{{selectedTab}}">
            <paper-tab href="#config">Config</paper-tab>
            <paper-tab href="#runs">Runs</paper-tab>
          </paper-tabs>
        </div>

        <iron-pages class="padded flex-column flex-grow overflow-auto" selected="{{selectedTab}}">

          <!-- iron-page tab 1 -->
          <div>

            <br/>
            <div class="details-table">
              <div>
                <span class="key">Job Pipeline ID</span>
                <span class="pipeline-id value">[[job.pipeline_id]]</span>
              </div>
              <div>
                <span class="description key">Description</span>
                <span class="description value">[[job.description]]</span>
              </div>
              <div>
                <span class="created-at key">Created at</span>
                <span class="created-at value">[[_formatDateString(job.created_at)]]</span>
              </div>

              <template is="dom-if" if="[[job.trigger]]">
                <div>
                  <span class="key">Schedule</span>
                  <span class="schedule value">[[_scheduleDisplayString()]]</span>
                </div>
                <div>
                  <span class="key">Enabled</span>
                  <span class="enabled value">[[_enabledDisplayString(job.trigger, job.enabled)]]</span>
                </div>
              </template>

            </div>

            <br/>
            <br/>

            <template is="dom-if" if="[[job.parameters.length]]">
              <div class="param-header">Input Parameters</div>
              <div class="params-table details-table">
                <template is="dom-repeat" items="[[job.parameters]]" as="param">
                  <div>
                    <span class="key">[[param.name]]</span>
                    <span class="value">[[param.value]]</span>
                  </div>
                </template>
              </div>
            </template>

          </div>

          <!-- iron-page tab 2 -->
          <run-list id="runs" class="flex-column flex-grow"></run-list>
        </iron-pages>
      </div>
    </div>

  </template>
</dom-module>
