{{- if not .Values.dbSecret.existingSecret }}
kind: Secret
apiVersion: v1
metadata:
  {{- if eq .Values.database.type "postgresql" }}
  name: postgres-secret-extended
  {{- else }}
  name: mysql-secret
  {{- end }}
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
stringData:
  {{- if eq .Values.database.type "postgresql" }}
  {{ .Values.dbSecret.usernameKey }}: {{ .Values.dbSecret.postgresql.username }}
  {{ .Values.dbSecret.passwordKey }}: {{ .Values.dbSecret.postgresql.password | quote }}
  {{- else }}
  {{ .Values.dbSecret.usernameKey }}: {{ .Values.dbSecret.mysql.username }}
  {{ .Values.dbSecret.passwordKey }}: {{ .Values.dbSecret.mysql.password | quote }}
  {{- end }}
{{- end }}
