apiVersion: apps/v1
kind: Deployment
metadata:
  name: metadata-writer
  labels:
    app: metadata-writer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: metadata-writer
  template:
    metadata:
      labels:
        app: metadata-writer
    spec:
      securityContext:
        seccompProfile:
          type: RuntimeDefault
    
      initContainers:
      - name: wait-for-metadata-grpc
        image: ghcr.io/containerd/busybox:1.36
        command:
        - sh
        - -c
        - |
          timeout=600
          elapsed=0
          until nc -z metadata-grpc-service 8080; do
            if [ $elapsed -ge $timeout ]; then
              exit 1
            fi
            sleep 5
            elapsed=$((elapsed + 5))
          done
          sleep 10
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 65534
          capabilities:
            drop:
            - ALL
        resources:
          requests:
            cpu: 10m
            memory: 16Mi
          limits:
            cpu: 100m
            memory: 64Mi

      containers:
      - name: main
        image: ghcr.io/kubeflow/kfp-metadata-writer:dummy
        env:
        - name: NAMESPACE_TO_WATCH
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 1000
          runAsGroup: 0
          capabilities:
            drop:
            - ALL
      serviceAccountName: kubeflow-pipelines-metadata-writer
