<dom-module id="pipeline-schedule">
  <template>
    <link rel="stylesheet" href="./pipeline-schedule.css">

    <style>
      /*
      This is here instead of in the .css file because of css-loader, which
      tries to validate CSS while loading, and ends up commenting out all
      mixins, since they're not officially in the CSS spec.
      */
      paper-dropdown-menu, paper-input {
        --paper-input-container: {
          padding: 0;
        }
        --paper-input-container-label: {
          padding-left: 6px;
        }
        --paper-input-container-input: {
          padding-left: 6px;
        }
        --paper-input-container-label-floating: {
          padding-left: 8px;
        }
        --paper-input-error: {
          padding-left: 6px;
        }

        /* Ensure the ripple fills the whole element */
        --paper-dropdown-menu-ripple: {
          bottom: 0px;
          left: 0;
          right: 0;
          top: 0px;
        }
      }

      .error-overflow {
        --paper-input-error: {
          overflow: visible;
        }
      }

      paper-input.crontab {
        --paper-input-container-disabled: {
          opacity: 0.7;
        }
        --paper-input-container-input: {
          font-family: 'Roboto Mono', monospace;
          padding-left: 6px;
        }
      }
    </style>

    <div class="flex metadata-input">
      <paper-dropdown-menu label="Type">
        <paper-listbox slot="dropdown-content" class="dropdown-content"
                       selected="{{_scheduleTypeIndex}}">
          <template is="dom-repeat" items="[[_SCHEDULES]]" as="schedule">
            <paper-item>[[schedule]]</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>
    </div>

    <!-- TODO: vertically align the various input fields below. -->

    <!-- Starting date and time selectors -->
    <template is="dom-if"
              if="{{_showSpecificTimeScheduleInputs(_scheduleTypeIndex)}}">
      <div class="flex metadata-input padded-spacing-minus-1">
        <!-- Start date picker -->
        <paper-input class="error-overflow" label="Starts (YYYY/MM/DD)"
                     value="{{_startDate}}" on-click="_pickStartDate"
                     allowed-pattern="[0-9/]" invalid="[[!_startTimeIsValid]]"
                     error-message="[[_startTimeErrorMessage]]">
        </paper-input>

        <span class="padded-spacing-minus-1">at</span>

        <!-- Start time picker -->
        <paper-dropdown-menu class="param-input-small" label="Time"
                             invalid="[[!_startTimeIsValid]]">
          <paper-listbox slot="dropdown-content" selected="{{_startTimeIndex}}">
            <template is="dom-repeat" items="[[_times]]" as="time">
              <paper-item>[[time]]</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu>
        <span class="padded-spacing-minus-1">AM</span>
        <paper-toggle-button class="am-pm" checked="{{_isStartPM}}">
        </paper-toggle-button>
        <span class="padded-spacing-minus-1">PM</span>
      </div>

      <!-- Recurrence interval -->
      <template is="dom-if"
                if="{{_showRecurringScheduleInputs(_scheduleTypeIndex)}}">
        <div class="flex metadata-input">
          <span class="padded-spacing-minus-1">Repeat </span>

          <paper-dropdown-menu class="param-input-small error-overflow"
                               label="Interval" invalid="[[!_weekdaySelectionIsValid]]"
                               error-message="Please select at least one weekday">
            <paper-listbox slot="dropdown-content" class="dropdown-content"
                           selected="{{_runIntervalIndex}}">
              <template is="dom-repeat" items="[[_runIntervals]]" as="interval">
                <paper-item>[[interval]]</paper-item>
              </template>
            </paper-listbox>
          </paper-dropdown-menu>
        </div>

        <!-- Weekday picker -->
        <div class="flex metadata-input">
          <span class="padded-spacing-minus-1">on</span>
          <paper-checkbox id="allWeekdaysCheckbox"
                          disabled="[[!_enableWeekdayButtons]]"
                          checked="{{_allDaysOfWeekActive}}"
                          on-checked-changed="_selectAllWeekdaysCheckboxChanged">
          All
          </paper-checkbox>
          <span class="padded-spacing-minus-4">-</span>
          <span id="weekdayButtons">
            <template is="dom-repeat" items="{{_weekdays}}" as="weekday">
              <paper-button class="toggle" active="{{weekday.active}}" toggles
                            raised disabled="[[!_enableWeekdayButtons]]">
                            <!-- TODO: do we need raised? -->
              [[weekday.day]]
              </paper-button>
            </template>
          </span>
        </div>

        <!-- Optional Ending date and time selectors -->
        <!-- TODO: Unhide once backend supports scheduling end date. -->
        <div class="flex metadata-input" hidden>
          <!--
            This element ends up 5px smaller than inputs, so without the extra
            margin, the screen jumps when the checkbox is (un)checked.
          -->
          <span class="padded-spacing-minus-1 checkbox-margin-adjust">
            <paper-checkbox checked="{{_hasEndDate}}">Has end</paper-checkbox>
          </span>
          <template is="dom-if" if="[[_hasEndDate]]">
            <!-- End date picker -->
            <paper-input class="error-overflow" label="Ends (YYYY/MM/DD)"
                         value="[[_endDate]]" on-click="_pickEndDate"
                         allowed-pattern="[0-9/]" invalid="[[!_endTimeIsValid]]"
                         error-message="[[_endTimeErrorMessage]]">
            </paper-input>

            <span class="padded-spacing-minus-1">at</span>

            <!-- End time picker -->
            <paper-dropdown-menu class="param-input-small" label="Time"
                                 invalid="[[!_endTimeIsValid]]">
              <paper-listbox slot="dropdown-content"
                             selected="{{_endTimeIndex}}">
                <template is="dom-repeat" items="[[_times]]" as="time">
                  <paper-item>[[time]]</paper-item>
                </template>
              </paper-listbox>
            </paper-dropdown-menu>
            <span class="padded-spacing-minus-1">AM</span>
            <paper-toggle-button class="am-pm" checked="{{_isEndPM}}">
            </paper-toggle-button>
            <span class="padded-spacing-minus-1">PM</span>
          </template>
        </div>

        <!-- Crontab text field -->
        <div class="flex metadata-input">
          <!--
            TODO: Allow users to update crontab manually and automatically
            update the rest of the UI based on it.
          -->
          <paper-input class="crontab" label="crontab" readonly disabled
                       value="[[_crontab]]">
          </paper-input>
        </div>

      </template>
    </template>
    <app-datepicker-dialog with-backdrop id="startDatepicker"
                           disable-days="[]" min-date="[[_minStartDate]]"
                           date="{{_startDate}}">
    </app-datepicker-dialog>
    <app-datepicker-dialog with-backdrop id="endDatepicker" disable-days="[]"
                           min-date="[[_startDate]]" date="{{_endDate}}">
    </app-datepicker-dialog>

    </template>
</dom-module>
