@import '../../styles/common.css';
@import '../../styles/inputs.css';
@import '../../styles/vars.css';

paper-button.toggle {
  @apply --shadow-elevation-3dp;
  background-color: var(--background-contrast-color);
  border-radius: 50%;
  color: var(--primary-text-color);
  height: var(--height-xsmall);
  min-width: var(--height-xsmall);
  width: var(--height-xsmall);
}

paper-button.toggle[active] {
  background-color: var(--theme-primary-color);
  color: var(--secondary-button-color);
}

paper-button.toggle[disabled] {
  @apply --shadow-none;
  background-color: transparent;
  color: var(--disabled-color);
}

.align-left {
  padding-bottom: var(--spacing-minus-1);
  padding-left: var(--spacing-minus-3);
  padding-right: var(--spacing-minus-1);
  padding-top: var(--spacing-minus-1);
}

.align-max-concurrency {
  padding: var(--spacing-minus-1) var(--spacing-minus-3) var(--spacing-minus-5);
}

.error-msg-container {
  min-height: 20px;
}

.error-msg {
  color: var(--error-text-color);
}
