# Logs
logs
*.log
npm-debug.log*

# JS Sourcemaps
*.js.map

# Dependencies
node_modules/
bower_components/

# Build output
dist

# Web server
frontend/server/*.js

# Python built package
*.egg-info
dist
.tox

# UI test outputs
frontend/test/ui/visual-regression/errorShots
frontend/test/ui/visual-regression/screenshots/diff
frontend/test/ui/visual-regression/screenshots/screen

# sqlite db
*.db

# IDE
.idea/
.ijwb/
ml.iml

# Merge files
*.orig

*.pyc
.DS_Store

.ipynb_checkpoints
*.egg-info

# go vendor
vendor

# Bazel output artifacts
bazel-*

# VSCode
.vscode

# Test temporary files
_artifacts
