# Logs
logs
*.log
npm-debug.log*

# JS Sourcemaps
*.js.map

# Dependencies
node_modules/
bower_components/

# Build output
dist

# Avoid all the package-lock.json noise
package-lock.json

# UI test outputs
frontend/test/ui/broken

# sqlite db
*.db

# IDE
.idea/

.DS_Store