@import '../../styles/vars.css';
@import '../../styles/common.css';
@import '../template-list/template-list.css';

:host {
  padding: 30px;
}

.instance-name {
  color: var(--fg-color-strong);
  font-size: var(--font-size-strong);
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}
