<dom-module id="instance-list">
  <template>
    <link rel="stylesheet" href="./instance-list.css">

    Available pipeline template instances:
    <div class="container">
      <template is="dom-repeat" items="[[instances]]" as="instance">
        <div class="card" on-click="_navigate">
          <div class="instance-name ellipsis">[[instance.name]]</div>
          <hr>
          <div class="instance-location">
            <a href="/instance/[[instance.location]]">[[instance.location]]</a>
          </div>
          <div>
            <span class="strong">Description:</span>
            <span class="instance-Description ellipsis">[[instance.description]]</span>
          </div>
          <div>
            <span class="strong">Starts</span>
            <span class="instance-starts ellipsis">[[instance.starts]]</span>
          </div>
          <div>
            <span class="strong">Ends</span>
            <span class="instance-ends ellipsis">[[instance.ends]]</span>
          </div>
          <div class="instance-tags">[[instance.tags]]</div>
        </div>
      </template>
    </div>
  </template>
</dom-module>
