apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  # Or github.com/kubeflow/pipelines/manifests/kustomize/env/gcp?ref=1.0.0
  - ../env/gcp
  # Kubeflow Pipelines servers are capable of collecting Prometheus metrics.
  # If you want to monitor your Kubeflow Pipelines servers with those metrics, you'll need a Prometheus server in your Kubeflow Pipelines cluster.
  # If you don't already have a Prometheus server up, you can uncomment the following configuration files for Prometheus.
  # If you have your own Prometheus server up already or you don't want a Prometheus server for monitoring, you can comment the following line out.
  # - ../third_party/prometheus
  # - ../third_party/grafana

# Identifier for application manager to apply ownerReference.
# The ownerReference ensures the resources get garbage collected
# when application is deleted.
commonLabels:
  application-crd-id: kubeflow-pipelines

# Used by Kustomize
configMapGenerator:
  - name: pipeline-install-config
    env: params.env
    behavior: merge

secretGenerator:
  - name: mysql-secret
    env: params-db-secret.env
    behavior: merge

# !!! If you want to customize the namespace,
# please also update sample/cluster-scoped-resources/kustomization.yaml's namespace field to the same value
namespace: kubeflow

#### Customization ###
# 1. Change values in params.env file
# 2. Change values in params-db-secret.env file for CloudSQL username and password
# 3. kubectl apply -k ./
####
