@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Open+Sans:400,700|Material+Icons);
@import './reset.css';
@import './vars.css';

/* Custom elements common styling */
:host {
  display: flex;
  flex-flow: column;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

[hidden] {
  display: none !important;
}

html, body {
  height: 100%;
  background-color: var(--background-contrast-color);
  color: var(--secondary-text-color);
  font-size: var(--font-size);
  min-width: var(--app-min-width);
}

hr {
  margin: var(--spacing-base) 0;
  border: 0px none transparent;
  border-top: 1px solid var(--divider-color);
}

iron-icon {
  min-height: var(--icon-dimension-large);
  min-width: var(--icon-dimension-large);
}

iron-icon[icon="check-circle"] {
  color: var(--good-color);
}

iron-icon[icon="av:skip-next"] {
  color: var(--inactive-color);
}

iron-icon[icon="error-outline"] {
  color: var(--danger-color);
}

paper-progress.loading {
  --paper-progress-active-color: var(--theme-primary-color);
  height: 1px;
  width: 100%;
}

paper-spinner {
  height: 50px;
  width: 50px;
}

paper-tab {
  font-size: var(--font-size-strong);
  min-width: 110px;
}

paper-tabs {
  --paper-tab-ink: var(--theme-primary-color);
  --paper-tabs-selection-bar-color: var(--theme-primary-color);
  bottom: 0;
  display: inline-block;
  height: var(--height-small);
  position: absolute;
}

paper-tab:not(:first-child) {
  border-left: 1px solid var(--divider-color);
}

.absolute-spinner {
  position: absolute;
  left: calc(50% - 50px / 2);
  top: calc(50% - 50px / 2);
}

.action-button {
  background-color: var(--theme-primary-color);
  color: white;
  min-height: var(--height-xsmall);
  margin: 0 auto 0 0;
  padding: var(--spacing-minus-5) var(--spacing-minus-2);
}

.action-button:hover {
  @apply --shadow-elevation-4dp;
}

.action-button[disabled] {
  background-color: transparent;
  color: var(--disabled-color);
}

.block {
  display: block;
}

.dimmable-container[busy] {
  opacity: 0.6;
}

.details-table {
  max-width: 700px;
}

.details-table > div {
  border-bottom: 1px solid var(--divider-color);
  display: flex;
  padding: var(--spacing-minus-5) var(--spacing-minus-6);
}

.details-table .key {
  font-weight: bold;
  flex: 0 0 280px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.faded {
  color: #999;
}

.flex {
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

.flex-grow {
  display: flex;
  flex-grow: 1;
}

.inline {
  display: inline;
}

.no-margin {
  margin: 0;
}

.no-shrink {
  flex-shrink: 0;
}

.overflow-auto {
  overflow: auto;
}

.overlay {
  background-color: #00000015;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}

.padded {
  padding: var(--spacing-base);
}

.padded-top-left {
  padding: var(--spacing-base) 0 0 var(--spacing-base);
}

.padded-right {
  padding-right: var(--spacing-base);
}

.padded-spacing-minus-1 {
  padding: var(--spacing-minus-1);
}

.padded-left-spacing-minus-1 {
  padding-left: var(--spacing-minus-1);
}

.padded-spacing-minus-3 {
  padding: var(--spacing-minus-3);
}

.padded-spacing-minus-4 {
  padding: var(--spacing-minus-4);
}

.padded-spacing-minus-5 {
  padding: var(--spacing-minus-5);
}

.param-header {
  font-size: var(--font-size-strong);
  font-weight: bold;
  padding-right: var(--spacing-minus-1);
}

.relative {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.scrollable {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  overflow: auto;
}

.strong {
  font-weight: bold;
}

.tabs-container {
  margin-top: var(--spacing-minus-2);
}

.toolbar {
  align-items: center;
  border-bottom: solid 1px var(--divider-color);
  display: flex;
  flex-shrink: 0;
  height: var(--toolbar-height);
  padding: 0 var(--spacing-base);
}

.toolbar-arrow-back {
  margin-left: -12px;
}

.toolbar-button {
  color: var(--theme-primary-color);
  font-size: var(--font-size);
  font-weight: bold;
  height: var(--height-xsmall);
  margin: auto var(--spacing-minus-4);
  padding: var(--spacing-minus-4);
  transition: background-color 0.3s;
}

.toolbar-button iron-icon {
  height: var(--spacing-minus-1);
  padding-right: var(--spacing-minus-5);
  width: var(--spacing-minus-1);
}

.toolbar-button[disabled] {
  background-color: inherit;
  color: var(--disabled-button-color);
}

.toolbar-button:hover {
  background-color: var(--flat-button-hover-color);
}

.toolbar-title {
  font-size: var(--font-size-title);
  margin: auto var(--spacing-plus-6) auto 0;
}

.unstyled {
  text-decoration: none;
  color: inherit;
}
