@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Open+Sans:400,700|Material+Icons);
@import './reset.css';
@import './vars.css';

html, body {
  height: 100%;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-size: var(--font-size);
}

hr {
  margin: 20px 0; 
  border: 0px none transparent; 
  border-top: 1px solid var(--line-color);
}

/* Custom elements common styling */
:host {
  display: block;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.unstyled {
  text-decoration: none;
  color: inherit;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  align-items: baseline;
  display: flex;
  flex-shrink: 0;
}

.no-shrink {
  flex-shrink: 0;
}

.strong {
  font-weight: bold;
}

paper-button:hover {
  @apply --shadow-elevation-3dp;
}

.action-button {
  background-color: var(--accent-color);
  color: white;
  max-height: 42px;
  min-width: 90px;
}

[hidden] {
  display: none !important;
}
