@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro|Google+Sans);
@import './reset.css';
@import './vars.css';

/* Custom elements common styling */
:host {
  display: flex;
  flex-flow: column;
  font-family: var(--content-font-family);
}

[hidden] {
  display: none !important;
}

html, body {
  height: 100%;
  background-color: var(--background-contrast-color);
  color: var(--secondary-text-color);
  font-size: var(--font-size);
  min-width: var(--app-min-width);
}

hr {
  margin: var(--spacing-base) 0;
  border: 0px none transparent;
  border-top: 1px solid var(--divider-color);
}

iron-icon {
  min-height: var(--icon-dimension-large);
  min-width: var(--icon-dimension-large);
}

iron-icon[icon="check-circle"] {
  color: var(--good-color);
}

iron-icon[icon="av:skip-next"] {
  color: var(--inactive-color);
}

iron-icon[icon="error-outline"] {
  color: var(--danger-color);
}

paper-checkbox {
  --paper-checkbox-checked-color: var(--theme-primary-color);
  --paper-checkbox-checked-ink-color: var(--theme-primary-color);
  --paper-checkbox-label-color: var(--secondary-text-color);
}

paper-progress.loading {
  --paper-progress-active-color: var(--theme-primary-color);
  height: 1px;
  width: 100%;
}

paper-spinner {
  height: 50px;
  width: 50px;
}

paper-tab {
  font-size: var(--font-size-medium);
  font-weight: bold;
  margin: 0 20px;
  padding: 0 10px;
}

paper-tabs {
  --paper-tab-ink: var(--theme-primary-color);
  --paper-tabs-selection-bar-color: var(--theme-primary-color);
  bottom: 0;
  display: inline-block;
  height: var(--height-small);
  position: absolute;
}

paper-tab.iron-selected {
  color: var(--theme-primary-color);
}

.absolute-spinner {
  position: absolute;
  left: calc(50% - 50px / 2);
  top: calc(50% - 50px / 2);
}

paper-icon-button {
  border-radius: 50%;
}

paper-button, paper-icon-button {
  color: var(--theme-primary-color);
  font-size: var(--font-size-medium);
  font-weight: bold;
  margin: auto var(--spacing-minus-4);
  min-height: var(--height-small);
  padding: var(--spacing-minus-4);
  text-transform: none;
  transition: background-color 0.3s;
}

paper-button:hover, paper-icon-button:hover {
  background-color: var(--flat-button-hover-color);
}

paper-button[disabled], paper-icon-button[disabled] {
  background-color: transparent;
  color: var(--disabled-color);
}

paper-button iron-icon {
  height: var(--spacing-minus-1);
  padding-right: var(--spacing-minus-5);
  width: var(--spacing-minus-1);
}

paper-button.primary, paper-icon-button.primary {
  background-color: var(--theme-primary-color);
  color: var(--primary-text-inverse-color);
}

paper-button.primary:hover, paper-icon-button.primary:hover {
  background-color: var(--primary-button-hover-color);
}

paper-button.primary[disabled], paper-icon-button.primary[disabled] {
  background-color: var(--disabled-button-inverse-color);
  border: 1px solid var(--divider-color);
  color: var(--disabled-color);
}

paper-listbox {
  padding: 0;
}

.block {
  display: block;
}

.center-text {
  justify-content: center;
  margin: auto;
  text-align: center;
}

.dimmable-container[busy] {
  opacity: 0.6;
}

.details-table {
  max-width: 700px;
}

.details-table > div {
  border-bottom: 1px solid var(--divider-color);
  display: flex;
  padding: var(--spacing-minus-5) var(--spacing-minus-6);
}

.details-table .key {
  font-weight: bold;
  flex: 0 0 50%;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.faded {
  color: #999;
}

.flex {
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

.flex-grow {
  display: flex;
  flex-grow: 1;
}

.font-large {
  font-size: var(--font-size-large);
}

.font-medium {
  font-size: var(--font-size-medium);
}

.inline {
  display: inline;
}

.no-margin {
  margin: 0;
}

.no-shrink {
  flex-shrink: 0;
}

.overflow-auto {
  overflow: auto;
}

.overlay {
  background-color: #00000015;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}

.padded {
  padding: var(--spacing-base);
}

.padded-top-left {
  padding: var(--spacing-base) 0 0 var(--spacing-base);
}

.margin-right {
  padding-right: var(--spacing-base);
}

.margin-right-spacing-minus-4 {
  padding-right: var(--spacing-minus-4);
}

.padded-spacing-minus-1 {
  padding: var(--spacing-minus-1);
}

.padded-left-spacing-minus-1 {
  padding-left: var(--spacing-minus-1);
}

.padded-spacing-minus-3 {
  padding: var(--spacing-minus-3);
}

.padded-spacing-minus-4 {
  padding: var(--spacing-minus-4);
}

.padded-spacing-minus-5 {
  padding: var(--spacing-minus-5);
}

.param-header {
  font-size: var(--font-size-large);
  font-weight: bold;
  padding-right: var(--spacing-minus-1);
}

.relative {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.scrollable {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  overflow: auto;
}

.strong {
  font-weight: bold;
}

.tabs-container {
  border-bottom: solid 1px var(--divider-color);
  flex: var(--height-small) 0 0;
  margin-top: var(--spacing-minus-2);
  position: relative;
}

.toolbar {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: var(--toolbar-height);
  justify-content: space-between;
  padding: 0 var(--spacing-base);
}

.toolbar-title {
  font-size: var(--font-size-title);
}

.toolbar-actions {
  display: flex;
}

.unstyled {
  color: inherit;
  display: inherit;
  text-decoration: none;
}

* {
  font-family: var(--content-font-family);
}
