@import './vars.css';

paper-dropdown-menu, paper-input, paper-textarea {
  --paper-input-container-focus-color: var(--theme-primary-color);
  background-color: var(--background-contrast-color);
  border-radius: 5px;
}

paper-item {
  cursor: default;
  padding: 0 30px;
  white-space: nowrap; /* To avoid a flicker when items first show up */
}

paper-ripple {
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
}

.input-container {
  margin-bottom: 26px;
}

.input-container-small-margin {
  margin-bottom: var(--spacing-minus-5);
}

.input-field {
  min-width: 136px;
  max-width: 220px;
  width: 20%;
}

.input-field-large {
  margin-bottom: 26px;
  max-width: 400px;
  min-width: 220px;
  width: 40%;
}

.input-field-small {
  min-width: 85px;
  max-width: 180px;
  width: 10%;
}

.input-field-width-18 {
  width: 18px;
}

.input-field-width-45 {
  width: 45px;
}

.param-name {
  margin: 15px 0 0 0;
}
