:root {
  --accent-color: #1474c2;
  --accent-color-light: #82acce;
  --bg-color: #f6f6f6;
  --bg-color-darker: #f0f0f0;
  --disabled-color: #aaa;
  --disabled-fg-color: #aaa;
  --fail-color: #dd0000;
  --fg-color-light: #fefefe;
  --fg-color: #444;
  --fg-color-strong: black;
  --hover-bg-color: #ddd;
  --line-color: #e7e7e7;
  --line-color-darker: #ddd;
  --neutral-color: #777;
  --progress-color: #6f97d4;
  --selected-color: #4b82cc;
  --success-color: #009900;
  --white: #fff;

  --font-size: 14px;
  --font-size-strong: 16px;

  --app-animation-duration: 0.3s;
  --app-content-font-size: 12px;
  --toolbar-height: 50px;
}
