:root {
  --bg-color: #eee;
  --fg-color: #444;
  --fg-color-strong: black;
  --accent-color: #173e56;
  --line-color: #ddd;
  --neutral-color: #777;
  --success-color: #71d271;
  --fail-color: #fb4343;
  --progress-color: #6f97d4;

  --font-size: 14px;
  --font-size-strong: 16px;
}
