<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>application test</title>


    <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="bower_components/web-component-tester/browser.js"></script>
</head>
<body>
</body>
</html>
