<dom-module id="app-shell">
  <template>
    <link rel="stylesheet" href="./app-shell.css">

    <!--Router-->
    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}"></app-route>

    <iron-pages id="pages" selected="{{page}}" attr-for-selected="path">
      <run-details path="runs/details"></run-details>
      <run-list path="runs"></run-list>
      <run-new path="runs/new"></run-new>
      <template-details path="templates/details"></template-details>
      <template-list path="templates"></template-list>
    </iron-pages>
  </template>
</dom-module>
