<dom-module id="app-shell">
  <template>
    <link rel="stylesheet" href="./app-shell.css">

    <!--Router-->
    <app-location route="{{route}}"></app-location>

    <iron-pages id="pages" selected="{{page}}" attr-for-selected="path">
      <pipeline-details path="pipelines/details"></pipeline-details>
      <pipeline-list path="pipelines"></pipeline-list>
      <pipeline-new path="pipelines/new"></pipeline-new>
      <package-details path="packages/details"></package-details>
      <package-list path="packages"></package-list>
      <job-details path="jobs/details"></job-details>
      <job-list path="jobs"></job-list>
    </iron-pages>
  </template>
</dom-module>
