<dom-module id="app-shell">
  <template>
    <link rel="stylesheet" href="./app-shell.css">

    <!--Router-->
    <app-location route="{{route}}"></app-location>

    <iron-pages id="pages" selected="{{page}}" attr-for-selected="path">
      <instance-details path="instances/details"></instance-details>
      <instance-list path="instances"></instance-list>
      <instance-new path="instances/new"></instance-new>
      <package-details path="packages/details"></package-details>
      <package-list path="packages"></package-list>
      <run-details path="runs/details"></run-details>
      <run-list path="runs"></run-list>
    </iron-pages>
  </template>
</dom-module>
