apiVersion: v1
kind: Service
metadata:
  labels:
    app: metadata
    app.kubernetes.io/name: {{ .Release.Name }}
  name: metadata-service
spec:
  ports:
    - name: md-backendapi
      port: 8080
      protocol: TCP
  selector:
    component: metadata-server
    app.kubernetes.io/name: {{ .Release.Name }}
---
apiVersion: apps/v1beta2
kind: Deployment
metadata:
  labels:
    component: metadata-server
    app.kubernetes.io/name: {{ .Release.Name }}
  name: metadata-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: metadata-server
      app.kubernetes.io/name: {{ .Release.Name }}
  template:
    metadata:
      labels:
        component: metadata-server
        app.kubernetes.io/name: {{ .Release.Name }}
    spec:
      containers:
        - command:
            - ./server/server
            - --http_port=8080
            - --mysql_service_host=mysql
            - --mysql_service_port=3306
            {{ if .Values.managedstorage.databaseNamePrefix }}
            - --mlmd_db_name={{ .Values.managedstorage.databaseNamePrefix }}_metadata
            {{ else }}
            - --mlmd_db_name={{ .Release.Name | replace "-" "_" | replace "." "_" | trunc 50 }}_metadata
            {{ end }}

          image: {{ .Values.images.metadataserver }}
          name: container
          ports:
            - containerPort: 8080
              name: md-backendapi
