apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ml-pipeline-scheduledworkflow
  name: ml-pipeline-scheduledworkflow
spec:
  selector:
    matchLabels:
      app: ml-pipeline-scheduledworkflow
  template:
    metadata:
      labels:
        app: ml-pipeline-scheduledworkflow
      annotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - image: ghcr.io/kubeflow/kfp-scheduled-workflow-controller:dummy
        imagePullPolicy: IfNotPresent
        name: ml-pipeline-scheduledworkflow
        env:
          - name: METRICS_PORT
            value: "9090"
          - name: CLIENT_QPS
            value: "10"
          - name: "RESYNC_INTERVAL_SECONDS"
            value: "30"
          - name: CLIENT_BURST
            value: "20"
          - name: LOG_LEVEL
            value: "info"
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: CRON_SCHEDULE_TIMEZONE
            valueFrom:
              configMapKeyRef:
                name: pipeline-install-config
                key: cronScheduleTimezone
        ports:
          - name: http
            containerPort: 9090
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 1000
          runAsGroup: 0
          capabilities:
            drop:
            - ALL
          seccompProfile:
            type: RuntimeDefault
        volumeMounts:
          - mountPath: /var/run/secrets/kubeflow/tokens
            name: scheduledworkflow-sa-token
      serviceAccountName: ml-pipeline-scheduledworkflow
      volumes:
        - name: scheduledworkflow-sa-token
          projected:
            sources:
              - serviceAccountToken:
                  path: scheduledworkflow-sa-token
                  expirationSeconds: 3600
                  audience: pipelines.kubeflow.org
