apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    workflows.argoproj.io/configmap-type: ExecutorPlugin
  name: ml-pipeline-driver-agent
data:
  # The Argo Workflow executor plugin should be injected as a sidecar.
  # Details: https://argo-workflows.readthedocs.io/en/latest/executor_plugins/#configuration
  sidecar.automountServiceAccountToken: "true"
  sidecar.container: |
    image: ntny/kfp-driver:beta-poc04
    name: driver-plugin
    ports:
    - containerPort: 8080
    resources:
      limits:
        cpu: "1"
        memory: 1Gi
      requests:
        cpu: 250m
        memory: 512Mi
    securityContext:
      runAsNonRoot: true
      runAsUser: 65534
