apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app: ml-pipeline
  name: kubeflow-pipelines-public
rules:
 - apiGroups:
   - ""
   resources:
   - configmaps
   resourceNames:
   - kubeflow-pipelines-public
   verbs:
   - get
   - list
   - watch
