apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ../../../../../manifests/kustomize/env/cert-manager/platform-agnostic-k8s-native

images:
  - name: ghcr.io/kubeflow/kfp-api-server
    newName: kind-registry:5000/apiserver
    newTag: latest
  - name: ghcr.io/kubeflow/kfp-persistence-agent
    newName: kind-registry:5000/persistenceagent
    newTag: latest
  - name: ghcr.io/kubeflow/kfp-scheduled-workflow-controller
    newName: kind-registry:5000/scheduledworkflow
    newTag: latest
  - name: ghcr.io/kubeflow/kfp-frontend
    newName: kind-registry:5000/frontend
    newTag: latest
  - name: ghcr.io/kubeflow/kfp-metadata-writer
    newName: kind-registry:5000/metadata-writer
    newTag: latest
  - name: ghcr.io/kubeflow/kfp-viewer-crd-controller
    newName: kind-registry:5000/viewer-crd-controller
    newTag: latest
  - name: ghcr.io/kubeflow/kfp-visualization-server
    newName: kind-registry:5000/visualization-server
    newTag: latest
  - name: ghcr.io/kubeflow/kfp-cache-deployer
    newName: kind-registry:5000/cache-deployer
    newTag: latest
  - name: ghcr.io/kubeflow/kfp-cache-server
    newName: kind-registry:5000/cache-server
    newTag: latest
  - name: ghcr.io/kubeflow/kfp-metadata-envoy
    newName: kind-registry:5000/metadata-envoy
    newTag: latest

patches:
  - path: ../../base/apiserver-env.yaml
    target:
      kind: Deployment
      name: ml-pipeline
  - path: ../../base/driver-plugin-cm-path.yaml
    target:
      kind: ConfigMap
      name: ml-pipeline-driver-agent
  - path: ../../base/grpc-specs.yaml
    target:
      kind: Deployment
      name: metadata-grpc-deployment
  - path: ../../base/cache-specs.yaml
    target:
      kind: Deployment
      name: cache-server

replacements:
  - source:
      kind: ConfigMap
      name: dns-config
      fieldPath: data.namespaceDns
    targets:
      - select:
          kind: Deployment
          name: ml-pipeline
        fieldPaths:
          - spec.template.spec.dnsConfig.searches.[=NAMESPACE.svc.cluster.local]
      - select:
          kind: Deployment
          name: metadata-grpc-deployment
        fieldPaths:
          - spec.template.spec.dnsConfig.searches.[=NAMESPACE.svc.cluster.local]
      - select:
          kind: Deployment
          name: cache-server
        fieldPaths:
          - spec.template.spec.dnsConfig.searches.[=NAMESPACE.svc.cluster.local]
