<dom-module id="pipeline-list">
  <template>
    <link rel="stylesheet" href="./pipeline-list.css">

    <div class="toolbar flex">
      <span class="toolbar-title">All Pipelines</span>
      <paper-button class="toolbar-button" on-click="_newPipeline">
        <iron-icon icon="add"></iron-icon>
        New Pipeline
      </paper-button>
      <paper-button class="toolbar-button">
        <iron-icon icon="compare-arrows"></iron-icon>
        Compare Pipelines
      </paper-button>
      <paper-button class="toolbar-button">
        <iron-icon icon="content-copy"></iron-icon>
        Clone
      </paper-button>
      <paper-button class="toolbar-button">
        <iron-icon icon="archive"></iron-icon>
        Archive
      </paper-button>
    </div>

    <item-list id="pipelinesItemList"></item-list>

  </template>
</dom-module>
