<dom-module id="pipeline-list">
  <template>
    <link rel="stylesheet" href="./pipeline-list.css">

    Scheduled Pipelines:
    <div class="container">
      <template is="dom-repeat" items="[[pipelines]]" as="pipeline">
        <div class="card" on-click="_navigate">
          <div class="pipeline-name ellipsis">[[pipeline.name]]</div>
          <hr>
          <div>
            <span class="strong">Description: </span>
            <span class="ellipsis">[[pipeline.description]]</span>
          </div>
          <div>
            <span class="strong">Starts: </span>[[pipeline.starts]]
          </div>
          <div>
            <span class="strong">Ends: </span>[[pipeline.ends]]
          </div>
          <div>
            <span class="strong">Tags: </span>[[pipeline.tags]]
          </div>
        </div>
      </template>
    </div>
    <paper-button class="action-button" on-click="_create">
      <iron-icon icon="add"></iron-icon>
      Create
    </paper-button>
  </template>
</dom-module>
