<dom-module id="pipeline-list">
  <template>
    <link rel="stylesheet" href="./pipeline-list.css">

    <div class="toolbar">
      <span class="toolbar-title">All Pipelines</span>
      <paper-button id="newBtn" class="toolbar-button" on-click="_newPipeline">
        <iron-icon icon="add"></iron-icon>
        New Pipeline
      </paper-button>
      <paper-button id="refreshBtn" class="toolbar-button" on-click="_refresh">
        <iron-icon icon="refresh"></iron-icon>
        Refresh
      </paper-button>
      <paper-button id="cloneBtn" class="toolbar-button" on-click="_clonePipeline"
                    disabled="[[!_oneItemIsSelected]]">
        <iron-icon icon="content-copy"></iron-icon>
        Clone
      </paper-button>
      <paper-button id="deleteBtn" class="toolbar-button" on-click="_deletePipeline"
                    disabled="[[!_atLeastOneItemIsSelected]]">
        <iron-icon icon="delete"></iron-icon>
        Delete
      </paper-button>
    </div>

    <page-error id="pageErrorElement" error="[[_pageError]]"></page-error>

    <div class="relative">
      <div class="overlay" hidden="[[!_busy]]">
        <paper-spinner class="absolute-spinner" active></paper-spinner>
      </div>
      <div class="scrollable">
        <item-list id="pipelinesItemList" class="flex-grow" rows="[[pipelineListRows]]"
                   empty-message="No pipelines found. Click New Pipeline to start."
                   columns="[[pipelineListColumns]]">
        </item-list>
      </div>
    </div>

  </template>
</dom-module>
