bokeh==1.2.0
gcsfs==0.2.3
google-api-python-client==1.7.*
itables==0.1.0
ipykernel==5.1.1
ipython==7.12.0
jupyter_client==5.3.*
nbconvert==5.5.0
nbformat==4.4.0
scikit_learn==0.21.2
tensorflow-metadata==0.27.*
tensorflow-model-analysis==0.27.*
tensorflow-data-validation==0.27.*
