bokeh==1.2.0
gcsfs==0.2.3
google-api-python-client==1.7.*
itables==0.1.0
ipykernel==6.29.5
ipython==7.34.0
Jinja2>=3.1.2,<4
jupyter-client==8.6.3
markupsafe>=2.1.1
nbconvert==7.16.5
nbformat==5.10.4
pyarrow==14.0.1
scikit-learn==1.5.0
tensorflow==2.15.1
tensorflow-metadata==1.16.0
tensorflow-serving-api==2.15.1
tornado==6.*
protobuf>=4.21.6,<5
werkzeug==3.1.6
