# After any updates to this file, requirements.txt should be regenerated running
# the following in this folder:
# pip-compile --no-emit-index-url requirements.in

# protobuf version should be identical to the one in kfp-pipeline-spec
# api/v2alpha1/python/requirements.txt
protobuf>=6.31.1,<7.0
kfp>=2.14.5,<3
