certifi==2026.6.17
    # via
    #   kfp-server-api
    #   kubernetes
    #   requests
cffi==2.1.0
    # via cryptography
charset-normalizer==3.4.9
    # via requests
click==8.4.2
    # via
    #   click-option-group
    #   kfp
click-option-group==0.5.7
    # via kfp
cryptography==49.0.0
    # via google-auth
docstring-parser==0.18.0
    # via kfp
google-api-core==2.31.0
    # via
    #   google-cloud-core
    #   google-cloud-storage
    #   kfp
google-auth==2.55.1
    # via
    #   google-api-core
    #   google-cloud-core
    #   google-cloud-storage
    #   kfp
    #   kubernetes
google-cloud-core==2.6.0
    # via google-cloud-storage
google-cloud-storage==3.12.0
    # via kfp
google-crc32c==1.8.0
    # via
    #   google-cloud-storage
    #   google-resumable-media
google-resumable-media==2.10.0
    # via google-cloud-storage
googleapis-common-protos==1.75.0
    # via google-api-core
idna==3.18
    # via requests
kfp==2.17.0
    # via -r requirements.in
kfp-pipeline-spec==2.17.0
    # via kfp
kfp-server-api==2.17.0
    # via kfp
kubernetes==30.1.0
    # via kfp
oauthlib==3.3.1
    # via
    #   kubernetes
    #   requests-oauthlib
proto-plus==1.28.0
    # via google-api-core
protobuf==6.33.6
    # via
    #   -r requirements.in
    #   google-api-core
    #   googleapis-common-protos
    #   kfp
    #   kfp-pipeline-spec
    #   proto-plus
pyasn1==0.6.3
    # via pyasn1-modules
pyasn1-modules==0.4.2
    # via google-auth
pycparser==3.0
    # via cffi
python-dateutil==2.9.0.post0
    # via
    #   kfp-server-api
    #   kubernetes
pyyaml==6.0.3
    # via
    #   kfp
    #   kubernetes
requests==2.34.2
    # via
    #   google-api-core
    #   google-cloud-storage
    #   kubernetes
    #   requests-oauthlib
    #   requests-toolbelt
requests-oauthlib==2.0.0
    # via kubernetes
requests-toolbelt==1.0.0
    # via kfp
six==1.17.0
    # via
    #   kfp-server-api
    #   kubernetes
    #   python-dateutil
tabulate==0.10.0
    # via kfp
urllib3==2.7.0
    # via
    #   kfp
    #   kfp-server-api
    #   kubernetes
    #   requests
websocket-client==1.9.0
    # via kubernetes
