apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubeflow-edit
aggregationRule:
  clusterRoleSelectors:
  - matchLabels:
      rbac.authorization.kubeflow.org/aggregate-to-kubeflow-edit: "true"
rules: []
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubeflow-edit-basic-permissions
  labels:
    rbac.authorization.kubeflow.org/aggregate-to-kubeflow-edit: "true"
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - pods
  - pods/log
  - secrets
  - events
  - persistentvolumeclaims
  - services
  verbs:
  - get
  - list
  - create
  - update
  - patch
  - delete
- apiGroups:
  - "apps"
  resources:
  - deployments
  - replicasets
  verbs:
  - get
  - list
  - create
  - update
  - patch
  - delete
- apiGroups: ["argoproj.io"]
  resources: ["workflowtasksets/status", "workflowtasksets"]
  verbs: ["get","list","watch","update","patch","delete","create"]
