x-google-marketplace:
  schemaVersion: v2
  applicationApiVersion: v1beta1
  publishedVersion: '0.1'
  publishedVersionMetadata:
    releaseNote: >-
      Initial release.
    releaseTypes:
      - Feature
    recommended: false
  managedUpdates:
    kalmSupported: false
  images:
    '':
      properties:
        imageRepo:
          type: REPO_WITH_REGISTRY
        imageTag:
          type: TAG
    mysql:
      properties:
        images.mysql:
          type: FULL
    minio:
      properties:
        images.minio:
          type: FULL
    argoexecutor:
      properties:
        images.argoexecutor:
          type: FULL
    argoworkflowcontroller:
      properties:
        images.argoworkflowcontroller:
          type: FULL
    apiserver:
      properties:
        images.apiserver:
          type: FULL
    persistenceagent:
      properties:
        images.persistenceagent:
          type: FULL
    scheduledworkflow:
      properties:
        images.scheduledworkflow:
          type: FULL
    frontend:
      properties:
        images.frontend:
          type: FULL
    viewercrd:
      properties:
        images.viewercrd:
          type: FULL
    visualizationserver:
      properties:
        images.visualizationserver:
          type: FULL
    metadataserver:
      properties:
        images.metadataserver:
          type: FULL
    proxyagent:
      properties:
        images.proxyagent:
          type: FULL
    cloudsqlproxy:
      properties:
        images.cloudsqlproxy:
          type: FULL
    metadataenvoy:
      properties:
        images.metadataenvoy:
          type: FULL
  deployerServiceAccount:
    roles:
      - type: ClusterRole        # This is a cluster-wide ClusterRole
        rulesType: CUSTOM        # We specify our own custom RBAC roles
        rules:
          - apiGroups: ['apiextensions.k8s.io']
            resources: ['customresourcedefinitions']
            verbs: ['*']
  clusterConstraints:
    resources:
    - replicas: 3
      requests:
        cpu: 2
        memory: 4Gi
      affinity:
        simpleNodeAffinity:
          type: REQUIRE_ONE_NODE_PER_REPLICA

properties:
  name:
    type: string
    x-google-marketplace:
      type: NAME
  namespace:
    type: string
    x-google-marketplace:
      type: NAMESPACE
  serviceAccountCredential:
    title: |-
     GCP Service Account credentials used to call other GCP services.
    description: |-
      To be able to call other GCP services from the pipeline, we need to be authenticated.
      This field is used to store the content of the service account
      JSON file. It can be encoded using base64 instead of messing with JSON format.
      To get the encoded credential, run
      <br><b> $ gcloud iam service-accounts keys create application_default_credentials.json --iam-account [your-service-account] && cat application_default_credentials.json | base64 </b><br>
    type: string
    default: ""
    x-google-marketplace:
      type: STRING
  managedstorage.enabled:
    type: boolean
    title: Use managed storage
    description: |-
      Use Cloud SQL and GCS for storing the data.
      Using CloudSQL and GCS provides better reliability and performance,
      as well as features such as data backup and usage monitoring.
      This is the recommended option especially for production scenarios.
      If false, the data will be stored in GCE Persistent Disk.
    default: false
  managedstorage.cloudsqlInstanceConnectionName:
    type: string
    title: CloudSQL instance connection name (Managed storage only)
    description: |-
      Provide a pre-created CloudSQL for MySQL instance.
      The instance connection name can be found in the instance detail page.
      For example myproject:us-central1:myinstance.
      For more details on how to create a new instance, visit https://cloud.google.com/sql/docs/mysql/quickstart
  managedstorage.dbUsername:
    type: string
    title: Database username (Managed storage only)
    description: |-
      The database username to connect to the CloudSQL instance.
      If leaving this field empty, the deployment will use the default 'root' user account.
      For more details about mysql username, visit https://cloud.google.com/sql/docs/mysql/users
  managedstorage.dbPassword:
    type: string
    title: Database password (Managed storage only)
    description: |-
      The database password to connect to the CloudSQL instance.
      If leaving this field empty, the deployment will use no password.
  managedstorage.databaseNamePrefix:
    type: string
    title: Database name prefix (Managed storage only)
    description: |-
      The prefix of the database name. Kubeflow Pipelines will create two databases,
      [prefix]_pipeline and [prefix]_metadata.
      Use lowercase letters, numbers, and hyphens. Start with a letter.
      If the prefix specified is same as an old deployment in the past,
      the deployment will recover from an old deployment.
      If this not specified, the app instance name will be used.
required:
  - name
  - namespace
  - serviceAccountCredential
