x-google-marketplace:
  schemaVersion: v2
  applicationApiVersion: v1beta1
  publishedVersion: '0.1'
  publishedVersionMetadata:
    releaseNote: >-
      Initial release.
    releaseTypes:
      - Feature
    recommended: false
  managedUpdates:
    kalmSupported: false
  images:
    '':
      properties:
        imageRepo:
          type: REPO_WITH_REGISTRY
        imageTag:
          type: TAG
    mysql:
      properties:
        images.mysql:
          type: FULL
    minio:
      properties:
        images.minio:
          type: FULL
    argoexecutor:
      properties:
        images.argoexecutor:
          type: FULL
    argoworkflowcontroller:
      properties:
        images.argoworkflowcontroller:
          type: FULL
    apiserver:
      properties:
        images.apiserver:
          type: FULL
    persistenceagent:
      properties:
        images.persistenceagent:
          type: FULL
    scheduledworkflow:
      properties:
        images.scheduledworkflow:
          type: FULL
    frontend:
      properties:
        images.frontend:
          type: FULL
    viewercrd:
      properties:
        images.viewercrd:
          type: FULL
    visualizationserver:
      properties:
        images.visualizationserver:
          type: FULL
    metadataserver:
      properties:
        images.metadataserver:
          type: FULL
    proxyagent:
      properties:
        images.proxyagent:
          type: FULL
    cloudsqlproxy:
      properties:
        images.cloudsqlproxy:
          type: FULL
    metadataenvoy:
      properties:
        images.metadataenvoy:
          type: FULL
  deployerServiceAccount:
    roles:
      - type: ClusterRole        # This is a cluster-wide ClusterRole
        rulesType: CUSTOM        # We specify our own custom RBAC roles
        rules:
          - apiGroups: ['apiextensions.k8s.io']
            resources: ['customresourcedefinitions']
            verbs: ['*']
  clusterConstraints:
    resources:
    - replicas: 3
      requests:
        cpu: 4
        memory: 8Gi
      affinity:
        simpleNodeAffinity:
          type: REQUIRE_ONE_NODE_PER_REPLICA

properties:
  name:
    type: string
    x-google-marketplace:
      type: NAME
  namespace:
    type: string
    x-google-marketplace:
      type: NAMESPACE

required:
  - name
  - namespace

