x-google-marketplace:
  schemaVersion: v2
  applicationApiVersion: v1beta1
  publishedVersion: '0.5.1'
  publishedVersionMetadata:
    releaseNote: >-
      Based on 0.5.1 version.
    releaseTypes:
    - Feature
    recommended: false
  managedUpdates:
    kalmSupported: false
  images:
    '':
      properties:
        imageRepo:
          type: REPO_WITH_REGISTRY
        imageTag:
          type: TAG
    mysql:
      properties:
        images.mysql:
          type: FULL
    minio:
      properties:
        images.minio:
          type: FULL
    argoexecutor:
      properties:
        images.argoexecutor:
          type: FULL
    argoworkflowcontroller:
      properties:
        images.argoworkflowcontroller:
          type: FULL
    apiserver:
      properties:
        images.apiserver:
          type: FULL
    persistenceagent:
      properties:
        images.persistenceagent:
          type: FULL
    scheduledworkflow:
      properties:
        images.scheduledworkflow:
          type: FULL
    frontend:
      properties:
        images.frontend:
          type: FULL
    viewercrd:
      properties:
        images.viewercrd:
          type: FULL
    visualizationserver:
      properties:
        images.visualizationserver:
          type: FULL
    metadataserver:
      properties:
        images.metadataserver:
          type: FULL
    proxyagent:
      properties:
        images.proxyagent:
          type: FULL
    cloudsqlproxy:
      properties:
        images.cloudsqlproxy:
          type: FULL
    metadataenvoy:
      properties:
        images.metadataenvoy:
          type: FULL
    metadatawriter:
      properties:
        images.metadatawriter:
          type: FULL
    cacheserver:
      properties:
        images.cacheserver:
          type: FULL
    cachedeployer:
      properties:
        images.cachedeployer:
          type: FULL
  deployerServiceAccount:
    roles:
    - type: ClusterRole # This is a cluster-wide ClusterRole
      rulesType: CUSTOM # We specify our own custom RBAC roles
      rules:
      - apiGroups: ['apiextensions.k8s.io', 'rbac.authorization.k8s.io']
        resources: ['customresourcedefinitions', 'clusterroles', 'clusterrolebindings']
        verbs: ['*']
  clusterConstraints:
    resources:
    - replicas: 3
      requests:
        cpu: 1
        memory: 2Gi
      affinity:
        simpleNodeAffinity:
          type: REQUIRE_ONE_NODE_PER_REPLICA
    gcp:
      nodes:
        requiredOauthScopes:
        - https://www.googleapis.com/auth/cloud-platform
properties:
  name:
    type: string
    x-google-marketplace:
      type: NAME
  namespace:
    type: string
    x-google-marketplace:
      type: NAMESPACE
  managedstorage.enabled:
    type: boolean
    title: Use managed storage
    description: |-
      Use Cloud SQL and GCS for storing the data.
      Using CloudSQL and GCS provides better reliability and performance,
      as well as features such as data backup and usage monitoring.
      This is the recommended option especially for production scenarios.
      If false, the data will be stored in GCE Persistent Disk.
    default: false
  managedstorage.cloudsqlInstanceConnectionName:
    type: string
    title: Cloud SQL instance connection name (Managed storage only)
    description: |-
      This field must be specified if choose to use managed storage.
      Provide the instance connection name for an existing Cloud SQL for MySQL instance.
      The instance connection name can be found on the instance detail page in the Cloud SQL console.
      The instance connection name uses the format project:zone:instance-name, for example,myproject:us-central1:myinstance.
      For more details on how to create a new instance, see https://cloud.google.com/sql/docs/mysql/quickstart.
  managedstorage.dbUsername:
    type: string
    title: Database username (Managed storage only)
    description: |-
      The database username to use when connecting to the Cloud SQL instance.
      If you leave this field empty, the deployment will use the default 'root' user account to connect.
      For more details about MySQL users, see https://cloud.google.com/sql/docs/mysql/users.
  managedstorage.dbPassword:
    type: string
    title: Database password (Managed storage only)
    x-google-marketplace:
      type: MASKED_FIELD
    description: |-
      The database password to use when connecting to the Cloud SQL instance.
      If you leave this field empty, the deployment will try to connect to the instance without providing a password.
      This will fail if a password is required for the username you provided.
  managedstorage.databaseNamePrefix:
    type: string
    title: Database name prefix (Managed storage only)
    description: |-
      The prefix of the database name. Kubeflow Pipelines will create two databases,
      [prefix]_pipeline and [prefix]_metadata.
      Use lowercase letters, numbers, and hyphens. Start with a letter.
      If the prefix specified is same as an old deployment in the past,
      the deployment will recover from an old deployment.
      If this not specified, the app instance name will be used.
required:
- name
- namespace
