apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow

resources:
- seaweedfs-deployment.yaml
- seaweedfs-pvc.yaml
- seaweedfs-networkpolicy.yaml
- seaweedfs-service.yaml
- seaweedfs-service-account.yaml
- minio-service.yaml
- mlpipeline-minio-artifact-secret.yaml
