Deprecated
PyYAML

# kfp.components
cloudpickle
strip-hints>=0.1.8

# kfp.dsl
argo-models==2.2.1a  #2.2.1a is equivalent to argo 2.2.1
jsonschema>=3.0.1
kubernetes>=8.0.0, <12.0.0

# kfp.Client
kfp-server-api>=0.2.5, <0.4.0  #Update the upper version whenever a new version of the kfp-server-api package is released. Update the lower version when there is a breaking change in kfp-server-api, or kfp sdk depends on new api changes in kfp-server-api.

# kfp.Client GCP auth
google-cloud-storage>=1.13.0
google-auth>=1.6.1
requests_toolbelt>=0.8.0

# CLI
tabulate
click
