@import '../../styles/common.css';

.error {
  background-color: var(--error-background-color);
  border: 1px solid var(--divider-color);
  box-sizing: border-box;
  color: var(--error-text-color);
  font-size: var(--app-content-font-size);
  justify-content: space-between;
  margin: var(--spacing-minus-1);
  min-height: 50px;
  padding: var(--spacing-minus-4);
}

.error-message {
  align-items: center;
  display: flex;
}

.icon {
  flex-shrink: 0;
  height: 16px;
  padding: 0 var(--spacing-minus-1);
  width: 16px;
}

.refresh-btn {
  background-color: var(--background-base-color);
}

paper-button {
  color: var(--secondary-text-color);
  font-size: 12px;
  max-height: var(--height-xsmall);
  min-width: 75px;
}

paper-button:hover {
  background-color: #fff;
}
