<dom-module id="package-details">
  <template>
    <link rel="stylesheet" href="./package-details.css">

    <div class="package-name">[[package.name]]</div>
    </a>
    <hr>

    <div>
      <span class="strong">Author:</span>
      <span>[[package.author]]</span>
    </div>

    <div>
      <span class="strong">Location:</span>
      <span class="package-location">
        <a href="[[package.location]]" target="_blank">[[package.location]]</a>
      </span>
    </div>

    <div>
      <span class="strong">Parameters:</span>
      <tr>
        <template is="dom-repeat" items="[[package.parameters]]" as="param">
          <li>
            <span class="strong">[[param.name]]:</span>
            <span>[[param.description]]</span>
          </li>
        </template>
      </tr>
    </div>

    <hr>

    <a class="unstyled" href="/pipelines/new?packageId=[[package.id]]">
      <paper-button class="action-button" raised>
        Configure
        <iron-icon icon="chevron-right"></iron-icon>
      </paper-button>
    </a>

  </template>
</dom-module>
