# If you would like to override the credentials for the container
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_SESSION_TOKEN=

REGION=us-east-1

SAGEMAKER_EXECUTION_ROLE_ARN=arn:aws:iam::123456789012:role/service-role/AmazonSageMaker-ExecutionRole-Example
ROBOMAKER_EXECUTION_ROLE_ARN=arn:aws:iam::123456789012:role/service-role/AmazonRoboMaker-ExecutionRole-Example
S3_DATA_BUCKET=my-data-bucket

# If you hope to use an existing EKS cluster, rather than creating a new one.
# EKS_EXISTING_CLUSTER=my-eks-cluster
# SKIP_KFP_OIDC_SETUP=true

# If you would like to skip the FSx set-up and tests
# SKIP_FSX_TESTS=true

# Version of the KFP to install on the cluster
# KFP_VERSION=0.5.1

# If you have an IAM role that the EKS cluster should assume for the "assume role" tests
# ASSUMED_ROLE_NAME=my-assumed-role