@import '../../styles/vars.css';
@import '../../styles/common.css';

:host {
  padding: 30px;
}

.container {
  background-color: var(--bg-color);
}

paper-input {
  width: 300px;
}

paper-icon-button, paper-icon-button {
  align-self: flex-end;
}

.template-link {
  align-self: flex-end;
  margin: 5px 10px;
}

.param-container {
  align-items: center;
}

.param-checkbox {
  margin-right: 15px;
  --paper-checkbox-unchecked-color: var(--neutral-color);
}

.param-input {
  margin-left: 10px;
  width: 100px;
}
