<dom-module id="popup-dialog">
  <template>
    <link rel="stylesheet" href="./popup-dialog.css">
    <paper-dialog with-backdrop id="dialog" class="dialog">
      <div class="title">[[title]]</div>
      <div class="body">[[body]]</div>
      <div class="footer">
        <paper-button hidden$="[[!button1]]" class="toolbar-button" on-click="_closedWithButton1">
          [[button1]]
        </paper-button>
        <paper-button hidden$="[[!button2]]" class="toolbar-button" on-click="_closedWithButton2">
          [[button2]]
        </paper-button>
      </div>
    </paper-dialog>
  </template>
</dom-module>
