@import '../../styles/common.css';

.btn {
  background-color: #eee;
  font-weight: bold;
  height: var(--height-small);
  padding: var(--spacing-minus-3);
}

.dialog {
  min-width: 300px;
}

.footer {
  margin: 0;
  padding: 0 var(--spacing-minus-1) var(--spacing-minus-1);
  text-align: right;
}

.message {
  margin: 0;
  padding: var(--spacing-plus-2);
}
