@import '../../styles/common.css';

.dialog {
  min-width: 300px;
}

.message {
  margin: 0;
  padding: 30px;
}

.footer {
  margin: 0;
  padding: 0 20px 20px 20px;
  text-align: right;
}

.btn {
  background-color: #eee;
  font-weight: bold;
  height: 35px;
  padding: 10px;
}
