{{- if .Values.multiUser.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: kubeflow-pipelines-profile-controller
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app: kubeflow-pipelines-profile-controller
{{- end }}
