{{- if .Values.multiUser.enabled }}
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: ml-pipeline-ui
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
spec:
  gateways:
  - kubeflow-gateway
  hosts:
  - '*'
  http:
  - match:
    - uri:
        prefix: /pipeline
    rewrite:
      uri: /pipeline
    route:
    - destination:
        host: ml-pipeline-ui.{{ .Release.Namespace }}.svc.cluster.local
        port:
          number: 80
    timeout: 300s
{{- end }}
