apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubeflow-pipelines-profile-controller
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: profile-controller
          env:
            - name: FRONTEND_IMAGE
              value: "kind-registry:5000/frontend"
            - name: FRONTEND_TAG
              value: "latest"
