apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../../../manifests/kustomize/env/platform-agnostic-multi-user
  - ../../base

images:
  - name: ghcr.io/kubeflow/kfp-api-server
    newName: kind-registry:5000/apiserver
    newTag: latest
  - name: ghcr.io/kubeflow/kfp-persistence-agent
    newName: kind-registry:5000/persistenceagent
    newTag: latest
  - name: ghcr.io/kubeflow/kfp-scheduled-workflow-controller
    newName: kind-registry:5000/scheduledworkflow
    newTag: latest
  - name: ghcr.io/kubeflow/kfp-frontend
    newName: kind-registry:5000/frontend
    newTag: latest
  - name: ghcr.io/kubeflow/kfp-metadata-writer
    newName: kind-registry:5000/metadata-writer
    newTag: latest

patches:
  - path: ../../base/apiserver-env.yaml
    target:
      kind: Deployment
      name: ml-pipeline
  - path: ../../base/grpc-specs.yaml
    target:
      kind: Deployment
      name: metadata-grpc-deployment
  - path: ../../base/cache-specs.yaml
    target:
      kind: Deployment
      name: cache-server
  - target:
      kind: ConfigMap
      name: pipeline-install-config
    patch: |
      - op: add
        path: /data/ARTIFACTS_PROXY_ENABLED
        value: "true"
  - target:
      kind: Deployment
      name: kubeflow-pipelines-profile-controller
    patch: |
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: DISABLE_ISTIO_SIDECAR
          value: "true" # Dangerous and only for CI/CD, not production usage

replacements:
  - source:
      kind: ConfigMap
      name: dns-config
      fieldPath: data.namespaceDns
    targets:
      - select:
          kind: Deployment
          name: ml-pipeline
        fieldPaths:
          - spec.template.spec.dnsConfig.searches.[=NAMESPACE.svc.cluster.local]
      - select:
          kind: Deployment
          name: metadata-grpc-deployment
        fieldPaths:
          - spec.template.spec.dnsConfig.searches.[=NAMESPACE.svc.cluster.local]
      - select:
          kind: Deployment
          name: cache-server
        fieldPaths:
          - spec.template.spec.dnsConfig.searches.[=NAMESPACE.svc.cluster.local]

