apiVersion: v1
kind: Service
metadata:
  name: ml-pipeline-visualizationserver
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
spec:
  ports:
  - name: http
    port: 8888
    protocol: TCP
    targetPort: 8888
  selector:
    app: ml-pipeline-visualizationserver
