# Minio deployment manifests in KFP will be removed in 2.16.0, in the future end-users will need to provision their own minio deployments
# The default will be SeaweedFS (Gateway docs: https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/third-party/seaweedfs/README.md)
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../third-party/metacontroller/base
- ../../base/installs/multi-user
- ../../base/metadata/base
- ../../base/metadata/options/istio
- ../../third-party/argo/installs/cluster
- ../../third-party/mysql/base
- ../../third-party/mysql/options/istio
- ../../third-party/minio/base
- ../../third-party/minio/options/istio


# !!! If you want to customize the namespace,
# please also update base/cache-deployer/cluster-scoped/cache-deployer-clusterrolebinding.yaml
namespace: kubeflow

# Identifier for application manager to apply ownerReference.
# The ownerReference ensures the resources get garbage collected
# when application is deleted.
labels:
- includeSelectors: true
  pairs:
    application-crd-id: kubeflow-pipelines

configMapGenerator:
- name: kubeflow-pipelines-profile-controller-code
  behavior: replace
  files:
  # swap sync.py with minio compatible sync.py
  - sync.py=sync.py

patches:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: kubeflow-pipelines-profile-controller
  patch: |
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: kubeflow-pipelines-profile-controller
    spec:
      template:
        spec:
          containers:
          - name: profile-controller
            env:
            - name: MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: mlpipeline-minio-artifact
                  key: accesskey
            - name: MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: mlpipeline-minio-artifact
                  key: secretkey
            - name: AWS_ENDPOINT_URL
              value: http://minio-service.kubeflow:9000
            - name: S3_ENDPOINT_URL
              value: http://minio-service.kubeflow:9000
- target:
    group: ""
    version: v1
    kind: ConfigMap
    name: pipeline-install-config
  patch: |
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: pipeline-install-config
    data:
      defaultPipelineRoot: minio://mlpipeline/v2/artifacts
