apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow
resources:
- ../../../postgresql/pipeline
- ../../../postgresql/cache
- ../../../cache-deployer
- pipeline-install-config.yaml
- postgres-secret-extended.yaml
vars:
- fieldref:
    fieldPath: data.defaultPipelineRoot
  name: kfp-default-pipeline-root
  objref:
    apiVersion: v1
    kind: ConfigMap
    name: pipeline-install-config
configurations:
- params.yaml
