apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow
resources:
- ../../../postgresql/pipeline
- ../../../postgresql/cache
- ../../../cache-deployer
- pipeline-install-config.yaml
- postgres-secret-extended.yaml

configurations:
- params.yaml
