apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow
resources:
- ../../../postgresql/pipeline
- ../../../postgresql/cache
- ../../../cache-deployer
- pipeline-install-config.yaml
- postgres-secret-extended.yaml
configurations:
- params.yaml
replacements:
- source:
    fieldPath: metadata.namespace
    group: apps
    kind: Deployment
    name: ml-pipeline
    version: v1
  targets:
    - select:
        group: apps
        version: v1
        kind: Deployment
        name: ml-pipeline
      fieldPaths:
      - metadata.namespace
- source:
    fieldPath: data.appName
    kind: ConfigMap
    name: pipeline-install-config
    version: v1
  targets:
    - select:
        kind: ConfigMap
        name: pipeline-install-config
        version: v1
      fieldPaths:
      - data.appName
- source:
    fieldPath: data.appVersion
    kind: ConfigMap
    name: pipeline-install-config
    version: v1
  targets:
    - select:
        kind: ConfigMap
        name: pipeline-install-config
        version: v1
      fieldPaths:
      - data.appVersion
- source:
    fieldPath: data.bucketName
    kind: ConfigMap
    name: pipeline-install-config
    version: v1
  targets:
    - select:
        kind: ConfigMap
        name: pipeline-install-config
        version: v1
      fieldPaths:
      - data.bucketName
- source:
    fieldPath: data.defaultPipelineRoot
    kind: ConfigMap
    name: pipeline-install-config
    version: v1
  targets:
    - select:
        kind: ConfigMap
        name: pipeline-install-config
        version: v1
      fieldPaths:
      - data.defaultPipelineRoot
