apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata: # kpt-merge: /executor
  name: executor
  annotations:
    workflows.argoproj.io/description: |
      Recommended minimum permissions for `kubelet` executor.

      This executor is superseded by  the `emmisary` executor, so we do not recommend you use it anymore.
    workflows.argoproj.io/version: "< 3.4.0"
    internal.kpt.dev/upstream-identifier: 'rbac.authorization.k8s.io|Role|default|executor'
rules:
  - apiGroups:
      - argoproj.io
    resources:
      - workflowtaskresults
    verbs:
      - create
      - patch
