<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Component Tests</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/node_modules/mocha/mocha.css">
</head>

<body>
  <script>
    (function () {
      document.addEventListener('WebComponentsReady', function componentsReady() {
        document.removeEventListener('WebComponentsReady', componentsReady, false);
        var script = document.createElement('script');
        script.src = '/app.js';
        var refScript = document.getElementsByTagName('script')[0];
        refScript.parentNode.insertBefore(script, refScript);
      }, false);
    })();
  </script>
  <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>
  <script src="/node_modules/mocha/mocha.js"></script>

  <div id="mocha"></div>
  <div id="testFailures"></div>
</body>

</html>
