<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="template-list">
  <template>
    <link rel="stylesheet" href="../../styles/vars.css">
    <link rel="stylesheet" href="../../styles/common.css">
    <link rel="stylesheet" href="./template-list.css">

    Available pipeline templates:
    <div class="container">
      <template is="dom-repeat" items="[[templates]]" as="template">
        <div class="card" on-click="_navigate">
          <div class="template-name">[[template.name]]</div>
          <hr>
          <div class="template-location">
            <a href="/template/[[template.location]]">[[template.location]]</a>
          </div>
          <div class="template-tags">[[template.tags]]</div>
        </div>
      </template>
    </div>
  </template>
</dom-module>

<script src="template-list.ts"></script>
