:host {
  padding: 30px;
}

div {
  line-height: 22px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.back-button {
  margin: 15px 0;
  background-color: white;
}

.template-name {
  color: var(--fg-color-strong);
  font-size: var(--font-size-strong);
  font-weight: bold;
}

.template-location, .template-tags {
  padding: 5px;
}

hr {
  margin: 20px 0;
}