<dom-module id="template-details">
  <template>
    <link rel="stylesheet" href="./template-details.css">

    <div class="template-name">[[template.name]]</div>
    <a href="/runs?templateId=[[template.id]]">
      See all runs for this template
    </a>
    <hr>

    <div>
      <span class="strong">Author:</span>
      <span class="template-tags">[[template.author]]</span>
    </div>

    <div>
      <span class="strong">Location:</span>
      <span class="template-location">
        <a href="[[template.location]]" target="_blank">[[template.location]]</a>
      </span>
    </div>

    <div>
      <span class="strong">Tags:</span>
      <span class="template-tags">[[template.tags]]</span>
    </div>

    <div>
      <span class="strong">Shared With:</span>
      <span class="template-tags">[[template.sharedWith]]</span>
    </div>

    <div>
      <span class="strong">Parameters:</span>
      <tr>
        <template is="dom-repeat" items="[[template.parameters]]" as="param">
          <li>
            <span class="strong">[[param.name]]:</span>
            <span>[[param.description]]</span>
          </li>
        </template>
      </tr>
    </div>

    <hr>

    <a class="unstyled" href="/runs/new?templateId=[[template.id]]">
      <paper-button class="action-button" raised>
        Configure
        <iron-icon icon="chevron-right"></iron-icon>
      </paper-button>
    </a>

  </template>
</dom-module>