@import '../../styles/vars.css';
@import '../../styles/common.css';

:host {
  padding: 30px;
}

.template-name {
  color: var(--fg-color-strong);
  font-size: var(--font-size-strong);
  font-weight: bold;
}

.template-location, .template-tags {
  padding: 5px;
}
