@import '../../styles/vars.css';
@import '../../styles/common.css';

:host {
  padding: 30px;
}

.container {
  background-color: #eee;
}

paper-input {
  width: 300px;
}

paper-icon-button, paper-icon-button {
  align-self: flex-end;
}

.template-link {
  align-self: flex-end;
  margin: 5px 10px;
}
