@import '../../styles/vars.css';
@import '../../styles/common.css';

:host {
  padding: 30px;
}

.container {
  background-color: #eee;
}

paper-input {
  width: 200px;
}

#startsContainer, #endsContainer {
  position: relative;
}

#datepicker {
  @apply --shadow-elevation-3dp;
}
