<dom-module id="instance-new">
  <template>
    <link rel="stylesheet" href="./instance-new.css">

    <div>Configure new pipeline instance:</div>
    <div class="container">
      <paper-input id="templateId" label="Template">[[templateId]]</paper-input>
      <paper-input id="name" label="Instance Name"></paper-input>
      <paper-input id="description" label="Description"></paper-input>
      <div id="startsContainer">
        <paper-input id="starts" label="Starts" value="[[startDate]]" on-click="_pickStartDate"></paper-input>
      </div>
      <div id="endsContainer">
        <paper-input id="ends" label="Ends" value="[[endDate]]" on-click="_pickEndDate"></paper-input>
      </div>
      <br>
      <br>
      <div>Parameters:</div>
      <template is="dom-repeat" items="[[template.parameterValues]]" as="param">
        <div>
          <span class="string">[[param.name]]</span>
          <span>[[param.value]]</span>
        </div>
      </template>
    </div>
    <app-datepicker-dialog modal id="startDatepicker" date="{{startDate}}"></app-datepicker-dialog>
    <app-datepicker-dialog modal id="endDatepicker" date="{{endDate}}"></app-datepicker-dialog>

  </template>
</dom-module>
