@import '../../styles/vars.css';
@import '../../styles/common.css';

paper-spinner {
  vertical-align: middle;
}

.cell.active, .row.active {
  opacity: 0.95;
}

.column-label.active, .row-label.active {
  fill: var(--theme-primary-color);
}

.container {
  border-bottom: 1px solid var(--divider-color);
  flex-grow: 1;
  overflow: auto;
  padding: var(--spacing-minus-1);
  text-align: center;
}

.dot {
  fill: none;
}

.dottedLine {
  stroke: #b2dfdb;
  stroke-width: 2;
  stroke-dasharray: 5,5;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.plotTitle {
  flex: auto 0 0;
  font-size: var(--font-size-title);
  margin-top: var(--spacing-base);
  text-align: center;
}

.point circle {
  stroke: steelblue;
}
