<dom-module id="data-plot">
  <template>
    <link rel="stylesheet" href="./data-plot.css">
    <div class="plotTitle">[[plotTitle]]</div>
    <div id="container" class="container">
      <template is="dom-if" if="[[_showTensorboardControls]]">
        <template is="dom-if" if="[[_podAddress]]">
          Tensorboard is running for this output.
          <a class="unstyled" href="/apis/v1alpha2/_proxy/[[_podAddress]]" target="_blank">
            <paper-button class="toolbar-button">
              Open Tensorboard
            </paper-button>
          </a>
        </template>
        <template is="dom-if" if="[[!_podAddress]]">
          <paper-button class="toolbar-button" on-click="_startTensorboard" disabled$="[[_tensorboardBusy]]">
            Start Tensorboard
          </paper-button>
          <paper-spinner active$="[[_tensorboardBusy]]"></paper-spinner>
        </template>
      </template>
      <template is="dom-if" if="[[_renderHtmlApp]]">
        <iframe id="iframe" src="javascript:void(0);" class="iframe" sandbox="allow-scripts"></iframe>
      </template>
    </div>
    </template>
</dom-module>
