@import '../../styles/vars.css';
@import '../../styles/common.css';

.job {
  background-color: white;
  @apply --shadow-elevation-2dp;
  margin: 20px;
  padding: 10px;
  transition: box-shadow 0.3s;
}

.job:hover {
  @apply --shadow-elevation-6dp;
  cursor: pointer;
}

.left, .middle {
  flex-grow: 1;
}

.status-icon {
  width: 20px;
  height: 20px;
  color: var(--fg-color);
}

paper-progress {
  --paper-progress-active-color: var(--progress-color);
  --paper-progress-height: 10px;
  margin: 7px;
}
