images:
  apiserver: gcr.io/ml-pipeline/google/pipelines/apiserver:dummy
  argoexecutor: gcr.io/ml-pipeline/google/pipelines/argoexecutor:dummy
  argoworkflowcontroller: gcr.io/ml-pipeline/google/pipelines/argoworkflowcontroller:dummy
  cloudsqlproxy: gcr.io/ml-pipeline/google/pipelines/cloudsqlproxy:dummy
  frontend: gcr.io/ml-pipeline/google/pipelines/frontend:dummy
  metadataserver: gcr.io/ml-pipeline/google/pipelines/metadataserver:dummy
  minio: gcr.io/ml-pipeline/google/pipelines/minio:dummy
  mysql: gcr.io/ml-pipeline/google/pipelines/mysql:dummy
  persistenceagent: gcr.io/ml-pipeline/google/pipelines/persistenceagent:dummy
  proxyagent: gcr.io/ml-pipeline/google/pipelines/proxyagent:dummy
  scheduledworkflow: gcr.io/ml-pipeline/google/pipelines/scheduledworkflow:dummy
  viewercrd: gcr.io/ml-pipeline/google/pipelines/viewercrd:dummy
  visualizationserver: gcr.io/ml-pipeline/google/pipelines/visualizationserver:dummy
  metadataenvoy: gcr.io/ml-pipeline/google/pipelines/metadataenvoy:dummy
  metadatawriter: gcr.io/ml-pipeline/google/pipelines/metadatawriter:dummy

gcpSecretName: "user-gcp-sa"
serviceAccountCredential: ""
gcpDefaultConfigName: "gcp-default-config"

managedstorage:
  enabled: false
  cloudsqlInstanceConnectionName: null
  # gcsBucketName should be determined by cloudsqlInstanceConnectionName to make
  # sure user is always using a valid pair of connection name + gcs bucket name.
  #
  # gcsBucketName is used in two places, so I wrote a template string here that
  # can be evaluated in each place.
  gcsBucketName: '{{ if .Values.managedstorage.databaseNamePrefix }}{{ printf "%s-%s" .Values.managedstorage.cloudsqlInstanceConnectionName .Values.managedstorage.databaseNamePrefix | replace ":" "-" | trunc 50 }}{{ else }}{{ printf "%s-%s" .Values.managedstorage.cloudsqlInstanceConnectionName .Release.Name | replace ":" "-" | trunc 50 }}{{ end }}'
  databaseNamePrefix: null
  dbUsername: 'root'
  dbPassword: ''
