<dom-module id="pipeline-details">
  <template>
    <link rel="stylesheet" href="./pipeline-details.css">

    <div class="toolbar">
      <a href="/pipelines" class="unstyled toolbar-arrow-back">
        <paper-icon-button icon="arrow-back"></paper-icon-button>
      </a>
      <div class="toolbar-title">Pipeline Details</div>
      <paper-button class="toolbar-button" on-click="_clonePipeline" disabled="[[disableClonePipelineButton]]">
        <iron-icon icon="content-copy"></iron-icon>
        Clone
      </paper-button>
      <paper-button class="toolbar-button" on-click="_enablePipeline"
                    disabled="[[!_allowPipelineEnable]]" title="Enable pipeline schedule">
        <iron-icon icon="av:play-circle-filled"></iron-icon>
        Enable
      </paper-button>
      <paper-button class="toolbar-button" on-click="_disablePipeline"
                    disabled="[[!_allowPipelineDisable]]" title="Disable pipeline schedule">
        <iron-icon icon="av:stop"></iron-icon>
        Disable
      </paper-button>
      <paper-button class="toolbar-button" on-click="_deletePipeline">
        <iron-icon icon="delete">
        </iron-icon>
        Delete
      </paper-button>
    </div>
    <paper-progress class="no-shrink" indeterminate disabled="[[!_busy]]"></paper-progress>

    <page-error id="pageErrorElement" error="[[_pageError]]"></page-error>

    <div class="flex-column padded-top-left dimmable-container" busy$="[[_busy]]">
      <div class="pipeline-name">
        <span>[[pipeline.name]]</span>
        <span class="faded pipeline-id">ID: [[pipeline.id]]</span>
      </div>

      <div class="no-shrink tabs-container">
        <paper-tabs class="no-shrink" selected="{{selectedTab}}">
          <paper-tab>Basic Config</paper-tab>
          <paper-tab>Jobs</paper-tab>
        </paper-tabs>
      </div>

      <iron-pages class="flex-column overflow-auto" selected="{{selectedTab}}">

        <!-- iron-page tab 1 -->
        <div>

          <br/>
          <div class="details-table">
            <div>
              <span class="key">Pipeline Package ID</span>
              <span class="value">[[pipeline.packageId]]</span>
            </div>
            <div>
              <span class="key">Description</span>
              <span class="value">[[pipeline.description]]</span>
            </div>
            <div>
              <span class="key">Created at</span>
              <span class="value">[[_formatDateString(pipeline.createdAt)]]</span>
            </div>

            <template is="dom-if" if="[[pipeline.schedule]]">
              <div>
                <span class="key">Schedule</span>
                <span class="value">[[pipeline.schedule]]</span>
              </div>
            </template>

          </div>

          <br/>
          <br/>

          <template is="dom-if" if="[[pipeline.parameters.length]]">
            <div class="param-header">Input Parameters</div>
            <div class="details-table">
              <template is="dom-repeat" items="[[pipeline.parameters]]" as="param">
                <div>
                  <span class="key">[[param.name]]</span>
                  <span class="value">[[param.value]]</span>
                </div>
              </template>
            </div>
          </template>

        </div>

        <!-- iron-page tab 2 -->
        <job-list id="jobs" class="flex-column"></job-list>
      </iron-pages>
    </div>

  </template>
</dom-module>
