@import '../../styles/vars.css';
@import '../../styles/common.css';

:host {
  padding: 30px;
}

.pipeline-name {
  color: var(--fg-color-strong);
  font-size: var(--font-size-strong);
  font-weight: bold;
}

paper-tabs {
  --paper-tab-ink: var(--accent-color);
  --paper-tabs-selection-bar-color: var(--accent-color);
  height: 35px;
  margin-top: 10px;
}

paper-tab:not(:first-child) {
  border-left: 1px solid var(--line-color);
}
