<dom-module id="pipeline-details">
  <template>
    <link rel="stylesheet" href="./pipeline-details.css">

    <div class="pipeline-name">
      [[pipeline.name]]
      <span class="padded faded">[[[pipeline.id]]]</span>
    </div>
    <hr>

    <div>
      <span class="strong padded">Pipeline Package Id:</span>[[pipeline.packageId]]
    </div>
    <div>
      <span class="strong padded">Description:</span>[[pipeline.description]]
    </div>
    <div>
      <span class="strong padded">Created:</span>[[pipeline.createAt]]
    </div>

    <template is="dom-if" if="[[pipeline.parameters.length]]">
      <hr>

      <div>
        <span class="strong padded">Parameters:</span>
        <tr>
          <template is="dom-repeat" items="[[pipeline.parameters]]" as="param">
            <li>
              <span class="strong padded">[[param.name]]:</span>[[param.value]]
            </li>
          </template>
        </tr>
      </div>
    </template>

    <hr>

    <paper-button class="action-button" raised on-click="_runOnce">
      <span class="padded">Run Once</span>
      <iron-icon icon="maps:directions-run"></iron-icon>
    </paper-button>

    <a class="unstyled" href="/jobs?pipelineId=[[pipeline.id]]">
      <paper-button class="action-button" raised>
        Pipeline Jobs
        <iron-icon icon="chevron-right"></iron-icon>
      </paper-button>
    </a>

  </template>
</dom-module>
