{{- if .Values.components.cache.enabled }}
# Cache Service Account
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kubeflow-pipelines-cache
  namespace: {{ include "kubeflow-pipelines.namespace" . }}
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
    app: cache-server
  annotations:
    {{- include "kubeflow-pipelines.careem-annotations" . | nindent 4 }}
    {{- include "kubeflow-pipelines.serviceaccount-annotations" . | nindent 4 }}

---
# Cache Role
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kubeflow-pipelines-cache-role
  namespace: {{ include "kubeflow-pipelines.namespace" . }}
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
    app: kubeflow-pipelines-cache-role
rules:
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
  - apiGroups:
      - argoproj.io
    resources:
      - workflows
    verbs:
      - get
      - list
      - watch
      - update
      - patch

---
# Cache RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kubeflow-pipelines-cache-binding
  namespace: {{ include "kubeflow-pipelines.namespace" . }}
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: kubeflow-pipelines-cache-role
subjects:
  - kind: ServiceAccount
    name: kubeflow-pipelines-cache
    namespace: {{ include "kubeflow-pipelines.namespace" . }}

---
# Cache Service
apiVersion: v1
kind: Service
metadata:
  name: cache-server
  namespace: {{ include "kubeflow-pipelines.namespace" . }}
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
    app: cache-server
spec:
  selector:
    app: cache-server
  ports:
    - port: 443
      targetPort: webhook-api

---
# Cache Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cache-server
  namespace: {{ include "kubeflow-pipelines.namespace" . }}
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
    app: cache-server
spec:
  replicas: {{ .Values.components.cache.replicas | default 1 }}
  selector:
    matchLabels:
      app: cache-server
  template:
    metadata:
      labels:
        app: cache-server
        {{- include "kubeflow-pipelines.selectorLabels" . | nindent 8 }}
      annotations:
        {{- include "kubeflow-pipelines.config-checksum" . | nindent 8 }}
    spec:
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: kubeflow-pipelines-cache
      containers:
        - name: server
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 0
            capabilities:
              drop:
                - ALL
          image: {{ .Values.images.registry }}/kfp-cache-server:{{ .Values.images.tag }}
          imagePullPolicy: Always
          env:
            - name: DEFAULT_CACHE_STALENESS
              valueFrom:
                configMapKeyRef:
                  name: pipeline-install-config
                  key: DEFAULT_CACHE_STALENESS
            - name: MAXIMUM_CACHE_STALENESS
              valueFrom:
                configMapKeyRef:
                  name: pipeline-install-config
                  key: MAXIMUM_CACHE_STALENESS
            - name: CACHE_IMAGE
              valueFrom:
                configMapKeyRef:
                  name: pipeline-install-config
                  key: cacheImage
            - name: CACHE_NODE_RESTRICTIONS
              valueFrom:
                configMapKeyRef:
                  name: pipeline-install-config
                  key: cacheNodeRestrictions
            - name: DBCONFIG_DRIVER
              value: mysql
            - name: DBCONFIG_DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: pipeline-install-config
                  key: cacheDb
            - name: DBCONFIG_HOST_NAME
              valueFrom:
                configMapKeyRef:
                  name: pipeline-install-config
                  key: dbHost
            - name: DBCONFIG_PORT
              valueFrom:
                configMapKeyRef:
                  name: pipeline-install-config
                  key: dbPort
            {{- if .Values.mysql.external }}
            - name: DBCONFIG_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.mysql.secretName }}
                  key: username
            - name: DBCONFIG_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.mysql.secretName }}
                  key: password
            {{- end }}
            - name: NAMESPACE_TO_WATCH
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: WEBHOOK_PORT
              value: "8443"
          args: ["--db_driver=$(DBCONFIG_DRIVER)",
                 "--db_host=$(DBCONFIG_HOST_NAME)",
                 "--db_port=$(DBCONFIG_PORT)",
                 "--db_name=$(DBCONFIG_DB_NAME)",
                 "--db_user=$(DBCONFIG_USER)",
                 "--db_password=$(DBCONFIG_PASSWORD)",
                 "--namespace_to_watch=$(NAMESPACE_TO_WATCH)",
                 "--listen_port=$(WEBHOOK_PORT)"]
          ports:
            - containerPort: 8443
              name: webhook-api
          volumeMounts:
            - name: webhook-tls-certs
              mountPath: /etc/webhook/certs
              readOnly: true
      volumes:
        - name: webhook-tls-certs
          secret:
            secretName: webhook-server-tls
            {{- if .Values.webhook.certManager.enabled }}
            items:
              - key: tls.crt
                path: cert.pem
              - key: tls.key
                path: key.pem
            {{- end }}
{{- end }}
