{{- if .Values.components.metadata.enabled }}
# Metadata gRPC ConfigMap
apiVersion: v1
kind: ConfigMap
metadata:
  name: metadata-grpc-configmap
  namespace: {{ include "kubeflow-pipelines.namespace" . }}
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
    component: metadata-grpc-server
data:
  METADATA_GRPC_SERVICE_HOST: "metadata-grpc-service"
  METADATA_GRPC_SERVICE_PORT: "8080"

---
# Metadata Envoy ConfigMap
apiVersion: v1
kind: ConfigMap
metadata:
  name: metadata-envoy-configmap
  namespace: {{ include "kubeflow-pipelines.namespace" . }}
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
    component: metadata-envoy
data:
  envoy-config.yaml: |-
    admin:
      access_log:
        name: admin_access
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.access_loggers.file.v3.FileAccessLog
          path: /tmp/admin_access.log
      address:
        socket_address: { address: 0.0.0.0, port_value: 9901 }

    static_resources:
      listeners:
        - name: listener_0
          address:
            socket_address: { address: 0.0.0.0, port_value: 9090 }
          filter_chains:
            - filters:
                - name: envoy.filters.network.http_connection_manager
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                    codec_type: auto
                    stat_prefix: ingress_http
                    route_config:
                      name: local_route
                      virtual_hosts:
                        - name: local_service
                          domains: [ "*" ]
                          routes:
                            - match: { prefix: "/" }
                              route:
                                cluster: metadata-cluster
                                max_stream_duration:
                                  grpc_timeout_header_max: '0s'
                              typed_per_filter_config:
                                envoy.filter.http.cors:
                                  "@type": type.googleapis.com/envoy.extensions.filters.http.cors.v3.CorsPolicy
                                  allow_origin_string_match:
                                    - safe_regex:
                                        regex: ".*"
                                  allow_methods: GET, PUT, DELETE, POST, OPTIONS
                                  allow_headers: keep-alive,user-agent,cache-control,content-type,content-transfer-encoding,custom-header-1,x-accept-content-transfer-encoding,x-accept-response-streaming,x-user-agent,x-grpc-web,grpc-timeout
                                  max_age: "1728000"
                                  expose_headers: custom-header-1,grpc-status,grpc-message
                    http_filters:
                      - name: envoy.filters.http.grpc_web
                        typed_config:
                          "@type": type.googleapis.com/envoy.extensions.filters.http.grpc_web.v3.GrpcWeb
                      - name: envoy.filters.http.cors
                        typed_config:
                          "@type": type.googleapis.com/envoy.extensions.filters.http.cors.v3.Cors
                      - name: envoy.filters.http.router
                        typed_config:
                          "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
      clusters:
        - name: metadata-cluster
          connect_timeout: 30.0s
          type: logical_dns
          typed_extension_protocol_options:
            envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
              "@type": type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
              explicit_http_config:
                http2_protocol_options: { }
          lb_policy: round_robin
          load_assignment:
            cluster_name: metadata-grpc
            endpoints:
              - lb_endpoints:
                  - endpoint:
                      address:
                        socket_address:
                          address: metadata-grpc-service
                          port_value: 8080

---
# Metadata gRPC Service Account
apiVersion: v1
kind: ServiceAccount
metadata:
  name: metadata-grpc-server
  namespace: {{ include "kubeflow-pipelines.namespace" . }}
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
    component: metadata-grpc-server

---
# Metadata gRPC Service
apiVersion: v1
kind: Service
metadata:
  name: metadata-grpc-service
  namespace: {{ include "kubeflow-pipelines.namespace" . }}
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
    app: metadata
spec:
  selector:
    component: metadata-grpc-server
  type: ClusterIP
  ports:
    - port: 8080
      protocol: TCP
      name: grpc-api

---
# Metadata gRPC Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: metadata-grpc-deployment
  namespace: {{ include "kubeflow-pipelines.namespace" . }}
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
    component: metadata-grpc-server
spec:
  replicas: {{ .Values.components.metadata.replicas }}
  selector:
    matchLabels:
      component: metadata-grpc-server
  template:
    metadata:
      labels:
        component: metadata-grpc-server
        {{- include "kubeflow-pipelines.selectorLabels" . | nindent 8 }}
      annotations:
        {{- include "kubeflow-pipelines.config-checksum" . | nindent 8 }}
    spec:
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: metadata-grpc-server
      containers:
        - name: container
          image: {{ .Values.metadata.image | default "gcr.io/tfx-oss-public/ml_metadata_store_server:1.14.0" }}
          securityContext:
            allowPrivilegeEscalation: false
            seccompProfile:
              type: RuntimeDefault
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 0
            capabilities:
              drop:
                - ALL
          env:
            {{- if .Values.mysql.external }}
            - name: DBCONFIG_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.mysql.secretName }}
                  key: username
            - name: DBCONFIG_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.mysql.secretName }}
                  key: password
            - name: MYSQL_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: pipeline-install-config
                  key: mlmdDb
            - name: MYSQL_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.mysql.secretName }}
                  key: host
            - name: MYSQL_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.mysql.secretName }}
                  key: port
            {{- end }}
          command: ["/bin/metadata_store_server"]
          args: ["--grpc_port=8080",
                 "--mysql_config_database=$(MYSQL_DATABASE)",
                 "--mysql_config_host=$(MYSQL_HOST)",
                 "--mysql_config_port=$(MYSQL_PORT)",
                 "--mysql_config_user=$(DBCONFIG_USER)",
                 "--mysql_config_password=$(DBCONFIG_PASSWORD)",
                 "--enable_database_upgrade=true",
                 "--grpc_channel_arguments=grpc.max_metadata_size=16384"]
          ports:
            - name: grpc-api
              containerPort: 8080
          livenessProbe:
            tcpSocket:
              port: grpc-api
            initialDelaySeconds: 3
            periodSeconds: 5
            timeoutSeconds: 2
          readinessProbe:
            tcpSocket:
              port: grpc-api
            initialDelaySeconds: 3
            periodSeconds: 5
            timeoutSeconds: 2

---
# Metadata Envoy Service
apiVersion: v1
kind: Service
metadata:
  name: metadata-envoy-service
  namespace: {{ include "kubeflow-pipelines.namespace" . }}
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
    app: metadata-envoy
spec:
  selector:
    component: metadata-envoy
  type: ClusterIP
  ports:
    - port: 9090
      protocol: TCP
      name: md-envoy

---
# Metadata Envoy Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: metadata-envoy-deployment
  namespace: {{ include "kubeflow-pipelines.namespace" . }}
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
    component: metadata-envoy
spec:
  replicas: {{ .Values.components.metadata.replicas }}
  selector:
    matchLabels:
      component: metadata-envoy
  template:
    metadata:
      labels:
        component: metadata-envoy
        {{- include "kubeflow-pipelines.selectorLabels" . | nindent 8 }}
        sidecar.istio.io/inject: "false"
    spec:
      containers:
        - name: container
          image: {{ .Values.images.registry }}/kfp-metadata-envoy:{{ .Values.images.tag }}
          imagePullPolicy: {{ .Values.images.pullPolicy }}
          args: ["/etc/envoy/envoy-config.yaml"]
          ports:
            - name: md-envoy
              containerPort: 9090
            - name: envoy-admin
              containerPort: 9901
          securityContext:
            allowPrivilegeEscalation: false
            seccompProfile:
              type: RuntimeDefault
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 0
            capabilities:
              drop:
                - ALL
          volumeMounts:
            - name: envoy-config
              mountPath: /etc/envoy
      volumes:
        - name: envoy-config
          configMap:
            name: metadata-envoy-configmap
{{- end }}
