{{- if .Values.components.apiserver.enabled }}
# API Server Role
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ml-pipeline
  namespace: {{ include "kubeflow-pipelines.namespace" . }}
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
    app: ml-pipeline
  annotations:
    {{- include "kubeflow-pipelines.careem-annotations" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - pods/log
    verbs:
      - get
      - list
      - delete
  - apiGroups:
      - argoproj.io
    resources:
      - workflows
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
  - apiGroups:
      - kubeflow.org
    resources:
      - scheduledworkflows
    verbs:
      - create
      - get
      - list
      - update
      - patch
      - delete
  - apiGroups:
      - kubeflow.org
    resources:
      - scheduledworkflows/finalizers
    verbs:
      - update
  {{- if .Values.kubernetesNative.enabled }}
  # Kubernetes Native Mode: Pipeline CRD permissions
  - apiGroups:
      - pipelines.kubeflow.org
    resources:
      - pipelines
      - pipelines/finalizers
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
  # Kubernetes Native Mode: PipelineVersion CRD permissions
  - apiGroups:
      - pipelines.kubeflow.org
    resources:
      - pipelineversions
      - pipelineversions/status
      - pipelineversions/finalizers
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
  {{- else }}
  # Non-native mode: read-only Pipeline access
  - apiGroups:
      - pipelines.kubeflow.org
    resources:
      - pipelines
    verbs:
      - get
      - list
      - watch
  {{- end }}
  - apiGroups:
      - authorization.k8s.io
    resources:
      - subjectaccessreviews
    verbs:
      - create
  - apiGroups:
      - authentication.k8s.io
    resources:
      - tokenreviews
    verbs:
      - create

---
# API Server RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ml-pipeline
  namespace: {{ include "kubeflow-pipelines.namespace" . }}
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
    app: ml-pipeline
  annotations:
    {{- include "kubeflow-pipelines.careem-annotations" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: ml-pipeline
subjects:
  - kind: ServiceAccount
    name: ml-pipeline
    namespace: {{ include "kubeflow-pipelines.namespace" . }}
{{- end }}
