{{- if .Values.seaweedfs.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: mlpipeline-minio-artifact
  namespace: {{ include "kubeflow-pipelines.namespace" . }}
  labels:
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
  annotations:
    {{- include "kubeflow-pipelines.careem-annotations" . | nindent 4 }}
stringData:
  accesskey: {{ .Values.seaweedfs.accessKey | default "minio" }}
  secretkey: {{ .Values.seaweedfs.secretKey | default "minio123" }}
{{- end }}
