apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: ml-pipeline
spec:
  template:
    spec:
      containers:
        - name: ml-pipeline-api-server
          env:
            - name: OBJECTSTORECONFIG_BUCKETNAME
              # Don't add gs:// prefix.
              # If bucket doesn't exist, the deployment will create one.
              value: ''
            - name: DBCONFIG_PASSWORD
              value: ''
---
apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: cloudsqlproxy
spec:
  template:
    spec:
      containers:
        - name: cloudsqlproxy
          env:
            - name: GCP_PROJECT
              value: ''
            - name: CLOUDSQL_ZONE
              # E.g. us-central1
              value: ''
            - name: CLOUDSQL_INSTANCE_NAME
              value: ''
