apiVersion: v1
kind: Service
metadata:
  labels:
    app: ml-pipeline-ui
    {{- include "kubeflow-pipelines.labels" . | nindent 4 }}
  name: ml-pipeline-ui
spec:
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 3000
  selector:
    app: ml-pipeline-ui
