apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../../../../../manifests/kustomize/env/platform-agnostic-multi-user

images:
- name: ghcr.io/kubeflow/kfp-api-server
  newName: kind-registry:5000/apiserver
  newTag: latest
- name: ghcr.io/kubeflow/kfp-persistence-agent
  newName: kind-registry:5000/persistenceagent
  newTag: latest
- name: ghcr.io/kubeflow/kfp-scheduled-workflow-controller
  newName: kind-registry:5000/scheduledworkflow
  newTag: latest

patchesStrategicMerge:
- apiserver-env.yaml
