---
apiVersion: v1
kind: Endpoints
metadata:
  name: ml-pipeline
subsets:
  - addresses:
      - ip: 172.17.0.1 # docker0 bridge ip
    ports:
      - name: http
        appProtocol: http
        port: 8887
        protocol: TCP
      - name: grpc
        appProtocol: http
        port: 8888
        protocol: TCP
      - name: webhook
        appProtocol: http
        port: 8443
        protocol: TCP
