@import '../../styles/vars.css';
@import '../../styles/common.css';

div {
  font-family: var(--app-content-font-family);
  font-size: var(--font-size);
  color: var(--primary-text-color);
}

#filter-div {
  position: relative;
}

#filter-icon {
  color: var(--inactive-color);
  height: var(--icon-dimension);
  position: absolute;
  right: 10px;
  top: 8px;
  width: var(--icon-dimension);
}

#filterBox {
  height: var(--height-small);
  width: 100%;
  border-bottom: solid 1px var(--divider-color);
  border-width: 0 0 1px;
  text-indent: 98px;
  padding: var(--spacing-minus-5);
  box-sizing: border-box;
  background-color: var(--background-contrast-color);
  color: var(--primary-text-color);
  outline: none;
}

#filterBox:hover {
  border-bottom: solid 1px var(--divider-color);
}

#filterBox:active {
  border-bottom: solid 1px var(--divider-color);
}

#filterToggle {
  height: var(--height-small);
  width: var(--height-small);
}

#headerContainer {
  z-index: 1;
}

#header {
  user-select: none;
  display: flex;
  line-height: calc(var(--toolbar-height) - 1px);
  border-bottom: 1px solid var(--divider-color);
}

#header > .column {
  color: var(--primary-text-color);
  font-size: var(--font-size);
}

.checkbox-col {
  flex: 0 0 80px;
  padding-left: var(--spacing-base);
}

.checkbox-col > iron-icon {
  height: var(--icon-dimension);
  width: var(--icon-dimension);
}

.checkbox-col > paper-checkbox {
  --paper-checkbox-size: var(--icon-dimension-small);
  --paper-checkbox-unchecked-color: var(--inactive-color);
  --paper-checkbox-checked-color: var(--theme-primary-color);
}

.column {
  flex: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--secondary-text-color);
}

.column-button {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-transform: none;
}

.column-button[disabled] {
  background: initial;
  color: initial;
}

.column-button > iron-icon {
  width: var(--icon-dimension-small);
  padding-left: var(--spacing-minus-5);
}

.column + .column {
  flex: 1;
  max-width: 150px;
  padding-left: var(--spacing-minus-2);
}

.filterShown--true {
  color: var(--theme-primary-color);
}

.filterShown--false {
  color: var(--inactive-color);
}

.first-col {
  flex-grow: 1;
}

.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.row {
  --paper-item-min-height: var(--height-small);
  cursor: default;
  display: flex;
  line-height: var(--height-small);
  padding: 0;
  user-select: none;
}

.row:hover {
  background-color: var(--row-hover-color);
}

.row[selected] > * {
  color: var(--theme-primary-color) !important;
}

.row-details {
  padding: 0;
}

.second-col {
  flex-basis: 100px;
}

.title {
  padding-left: var(--spacing-minus-5);;
  line-height: 26px;
}
