@import '../../styles/vars.css';
@import '../../styles/common.css';

.path {
  padding: 10px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #ddd;
}

.crumb {
  cursor: pointer;
  margin: 5px;
  padding: 3px;
  color: var(--selected-color);
}

.crumb:hover {
  border-radius: 4px;
  background-color: #ddd;
}

.files {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.file {
  display: flex;
  flex-flow: column;
  margin: 0 3px;
  max-height: 120px;
  overflow: hidden;
  text-align: center;
  width: 100px;
}

.file-icon {
  align-self: center;
  color: var(--neutral-color);
  flex-shrink: 0;
  height: 50px;
  margin-bottom: 3px;
  width: 50px;
}

.file-name {
  align-self: center;
  border-radius: 4px;
  padding: 3px 8px;
  word-break: break-word;
}

.file.selected {
  max-height: 300px;
}

.file.selected .file-icon {
  color: var(--selected-color);
}

.file.selected .file-name {
  background-color: var(--selected-color);
  color: white;
}