apiVersion: v1
kind: ConfigMap
metadata:
  name: workflow-controller-configmap
  namespace: kubeflow
data:
  config: |
    {
    executorImage: $(executorImage),
    artifactRepository:
    {
        archiveLogs: true,
        s3: {
            bucket: $(artifactRepositoryBucket),
            keyPrefix: $(artifactRepositoryKeyPrefix),
            endpoint: s3.amazonaws.com,
            insecure: false,
            accessKeySecret: {
                name: $(awsSecretName),
                key: $(awsAccessKeySecretKey)
            },
            secretKeySecret: {
                name: $(awsSecretName),
                key: $(awsSecretKeySecretKey)
            }
        }
    }
    }
---
apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: ml-pipeline-ui
spec:
  template:
    spec:
      containers:
        - name: ml-pipeline-ui
          env:
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: $(awsSecretName)
                  key: $(awsAccessKeySecretKey)
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: $(awsSecretName)
                  key: $(awsSecretKeySecretKey)
            - name: ARGO_ARCHIVE_LOGS
              value: "true"
            - name: ARGO_ARCHIVE_ARTIFACTORY
              value: s3
            - name: ARGO_ARCHIVE_BUCKETNAME
              value: $(artifactRepositoryBucket)
            - name: ARGO_ARCHIVE_PREFIX
              value: $(artifactRepositoryKeyPrefix)
            - name: VIEWER_TENSORBOARD_POD_TEMPLATE_SPEC_PATH
              value: /etc/config/viewer-tensorboard-template.json
          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
      volumes:
        - name: config-volume
          configMap:
            name: ml-pipeline-ui-viewer-template
---
apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: ml-pipeline
spec:
  template:
    spec:
      containers:
        - name: ml-pipeline-api-server
          env:
            - name: OBJECTSTORECONFIG_ACCESSKEY
              valueFrom:
                secretKeyRef:
                  name: $(awsSecretName)
                  key: $(awsAccessKeySecretKey)
            - name: OBJECTSTORECONFIG_SECRETACCESSKEY
              valueFrom:
                secretKeyRef:
                  name: $(awsSecretName)
                  key: $(awsSecretKeySecretKey)
            - name: OBJECTSTORECONFIG_BUCKETNAME
              value: $(artifactRepositoryBucket)
            - name: MINIO_SERVICE_SERVICE_HOST
              value: s3.amazonaws.com
            - name: MINIO_SERVICE_SERVICE_PORT
              value: "443"
