apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-pipeline
spec:
  template:
    spec:
      containers:
        - name: ml-pipeline-api-server
          env:
            - name: HTTP_PROXY
              value: "http://squid.squid.svc.cluster.local:3128"
            - name: HTTPS_PROXY
              value: "http://squid.squid.svc.cluster.local:3128"
            - name: NO_PROXY
              value: "localhost,127.0.0.1,.svc.cluster.local,kubernetes.default.svc,metadata-grpc-service,10.0.0.0/8,0,1,2,3,4,5,6,7,8,9"
