# Runtime requirements
boto3==1.14.12
sagemaker==2.1.0
pathlib2==2.3.5
pyyaml==3.12
mypy-extensions==0.4.3

# Development requirements
kfp==0.5.1
docformatter==1.3.1
black==19.10b0
coverage==5.1
pytest==5.4.1