@import '../../styles/vars.css';
@import '../../styles/common.css';

:host {
  display: flex;
  flex-flow: column;
  padding: 30px;
}

.template-name {
  color: var(--fg-color-strong);
  flex-grow: 1;
  font-size: var(--font-size-strong);
  font-weight: bold;
}

.left-column {
  min-width: 300px;
}

.template-tags {
  padding: 5px;
}

.state-icon {
  color: var(--fg-color);
  height: 20px;
  width: 20px;
}

paper-progress {
  --paper-progress-active-color: var(--progress-color);
  --paper-progress-height: 10px;
  margin: 7px;
}

paper-tabs {
  --paper-tab-ink: var(--accent-color);
  --paper-tabs-selection-bar-color: var(--accent-color);
  height: 35px;
  margin-top: 10px;
}

paper-tab:not(:first-child) {
  border-left: 1px solid var(--line-color);
}

.steps {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

file-browser {
  border: 1px solid #ddd;
  flex-grow: 1;
}

.action-buttons {
  justify-content: center;
  margin: 10px;
}

#previewDialog, #plotDialog {
  display: flex;
  flex-flow: column;
  max-height: 80vh;
  max-width: 80vw;
  min-height: 40vh;
  min-width: 40vw;
}

#plotTitle, #previewTitle {
  flex: auto 0 0;
  margin: 15px;
}

#preview, #plot {
  border-bottom: 1px solid var(--line-color);
  border-top: 1px solid var(--line-color);
  flex-grow: 1;
  padding: 20px;
  overflow: auto;
}

.dialogs table,
.dialogs tr,
.dialogs td,
.dialogs th {
  border: 1px solid #ddd;
  min-width: 75px;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.dialogs th {
  font-weight: bold;
}

.axis text {
  font: 10px sans-serif;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
}

.line {
  fill: none;
  stroke: var(--progress-color);
  stroke-width: 2px;
}

.dialog-buttons {
  flex: auto 0 0;
  margin: 10px;
  text-align: center;
}

.json-pretty {
  font-family: Menlo, Monaco, "Courier New", monospace;
  line-height: 16px;
}

.json-key {
  color: var(--neutral-color);
}

.json-boolean,
.json-number {
  color: var(--accent-color);
}
