<dom-module id="top-bar">
  <template>

    <link rel="stylesheet" href="./top-bar.css">
    <div class="top-bar">
      <a id="logo" href="/templates" class="unstyled left">ML Pipeline Management Console</a>
      <div class="middle"></div>
      <div class="right">
        <a id="templatesBtn" class="unstyled" href="/templates">
          <paper-button>Pipeline Templates</paper-button>
        </a>
        <a id="runsBtn" class="unstyled" href="/runs">
          <paper-button>Template Runs</paper-button>
        </a>
      </div>
    </div>

  </template>
</dom-module>
