.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--fg-color);
  padding: 10px 20px;
  font-family: monospace;
  margin-bottom: 15px;
}
