<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<dom-module id="top-bar">
  <template>
    <link rel="stylesheet" href="../../styles/vars.css">
    <link rel="stylesheet" href="../../styles/common.css">
    <link rel="stylesheet" href="./top-bar.css">
    <div class="top-bar">
      <a href="/templates" class="unstyled-link">ML Pipeline Management Console</a>
    </div>
  </template>
</dom-module>

<script src="top-bar.ts"></script>
