name: KFP backend visualization tests

on:
  push:
    branches: [ master ]

  pull_request:
    paths:
      - '.github/workflows/backend-visualization.yml'
      - 'backend/src/apiserver/visualization/**'
      - 'test/presubmit-backend-visualization.sh'
      - '!**/*.md'
      - '!**/OWNERS'

jobs:
  backend-visualization-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install dependencies
        run: make install-backend-visualization-deps

      - name: Run tests
        run: make test-backend-visualization
