name: KFP backend visualization tests

on:
  push:
    branches: [ master ]

  pull_request:
    paths:
      - '.github/workflows/backend-visualization.yml'
      - 'backend/src/apiserver/visualization/**'
      - 'test/presubmit-backend-visualization.sh'
      - '!**/*.md'
      - '!**/OWNERS'

jobs:
  backend-visualization-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Cache pip
        uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt', '**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Run tests
        run: ./test/presubmit-backend-visualization.sh
