# This workflow checks if all CI checks have passed by polling every 5 minutes for a total of 8 attempts.
name: CI Check

on:
  pull_request_target:
    types: [opened, synchronize, reopened, labeled]

jobs:
  check_ci_status:
    runs-on: ubuntu-latest
    permissions:
      checks: read
    steps:
      - name: Check out the repository
        uses: actions/checkout@v5

      - name: Check for 'needs-ok-to-test' and 'ok-to-test' labels
        id: label_check
        run: |
          if [[ "${{ contains(github.event.pull_request.labels.*.name, 'needs-ok-to-test') }}" == "true" ]]; then
            echo "Label 'needs-ok-to-test' found. Skipping the workflow."
            exit 0
          fi
          if [[ "${{ contains(github.event.pull_request.labels.*.name, 'ok-to-test') }}" == "true" ]]; then
            echo "Label 'ok-to-test' found. Continuing the workflow."
          else
            echo "Label 'ok-to-test' not found. Skipping the workflow."
            exit 0
          fi

      - name: Check if all CI checks passed
        uses: wechuli/allcheckspassed@0b68b3b7d92e595bcbdea0c860d05605720cf479
        with:
          delay: '5'
          retries: '10'
          polling_interval: '5'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Save PR payload
        shell: bash
        run: |
          mkdir -p ./pr
          echo ${{ github.event.pull_request.number }} >> ./pr/pr_number          
          echo ${{ github.event.action }} >> ./pr/event_action
      - uses: actions/upload-artifact@v4
        with:
          name: pr
          path: pr/
