name: GCPC modules test

on:
  push:
    branches: [master]

  pull_request:
    paths:
      - '.github/workflows/gcpc-modules-tests.yml'
      - 'sdk/python/**'
      - '!**/*.md'
      - '!**/OWNERS'

jobs:
  all-gcpc-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Python with uv
        uses: ./.github/actions/setup-python
        with:
          python-version: '3.9'

      - name: Install protobuf dependencies & generate proto files
        uses: ./.github/actions/protobuf

      - name: Install workspace packages
        run: |
          uv pip install --no-deps -e sdk/python -e api/v2alpha1/python -e kubernetes_platform/python -e backend/api/v2beta1/python_http_client

      - name: Install google-cloud component
        run: uv pip install components/google-cloud

      - name: Run test
        run: uv run pytest ./test/gcpc-tests/run_all_gcpc_modules.py
