name: GCPC modules test

on:
  push:
    branches: [master]

  pull_request:
    paths:
      - '.github/workflows/gcpc-modules-tests.yml'
      - 'sdk/python/**'
      - '!**/*.md'
      - '!**/OWNERS'

jobs:
  all-gcpc-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.9
          cache: 'pip'

      - name: Install protobuf-compiler
        run: sudo apt update && sudo apt install -y protobuf-compiler

      - name: Install setuptools
        run: make install-python-build-tools

      - name: Generate API proto files
        working-directory: ./api
        run: make clean python

      - name: Install kfp-pipeline-spec from source
        run: make install-kfp-pipeline-spec

      - name: Build & install kfp-server-api dist
        run: make install-kfp-server-api

      - name: Install python sdk
        run: make install-sdk

      - name: Install google-cloud component
        run: make install-gcpc-components

      - name: Install Pytest
        run: make install-pytest

      - name: Run test
        run: make test-gcpc-modules
