name: KFP Webhook Integration

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - '.github/actions/create-cluster/**'
      - '.github/actions/deploy/**'
      - '.github/resources/**'
      - '.github/workflows/kfp-webhooks.yml'
      - '.github/workflows/image-builds.yml'
      - 'backend/**'
      - '!**/*.md'
      - '!**/OWNERS'

jobs:
  build:
    uses: ./.github/workflows/image-builds.yml

  webhook-tests:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        k8s_version: [ "v1.29.2", "v1.34.0" ]
    name: KFP Webhooks - K8s ${{ matrix.k8s_version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Create KFP cluster
        id: create-kfp-cluster
        uses: ./.github/actions/create-cluster
        with:
          k8s_version: ${{ matrix.k8s_version }}
        continue-on-error: true

      - name: Deploy
        id: deploy
        uses: ./.github/actions/deploy
        if: ${{ steps.create-kfp-cluster.outcome == 'success' }}
        with:
          image_path: ${{ needs.build.outputs.IMAGE_PATH }}
          image_tag: ${{ needs.build.outputs.IMAGE_TAG }}
          image_registry: ${{ needs.build.outputs.IMAGE_REGISTRY }}
          pipeline_store: kubernetes

      - name: Run Webhook Integration Tests
        id: tests
        if: ${{ steps.deploy.outcome == 'success' }}
        run: |
          make -C backend/test/integration test-webhook
        continue-on-error: true

      - name: Collect failed logs
        if: ${{ steps.create-kfp-cluster.outcome != 'success' || steps.deploy.outcome != 'success' || steps.tests.outcome != 'success' }}
        run: |
          ./.github/resources/scripts/collect-logs.sh --ns kubeflow --output /tmp/tmp_pod_log.txt
          exit 1

      - name: Collect test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: kfp-samples-tests-artifacts-k8s-${{ matrix.k8s_version }}
          path: /tmp/tmp*/*