name: KFP SDK Tests

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - 'sdk/**'
      - '.github/workflows/kfp-sdk-tests.yml'

jobs:
  sdk-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9, 3.10, 3.11, 3.12]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}

    - name: Run SDK Tests
      run: |
        ./test/presubmit-tests-sdk.sh
