name: kfp-kubernetes library tests

on:
  push:
    branches: [master]
  pull_request:
    paths:
      - '.github/workflows/kfp-kubernetes-library-test.yml'
      - 'sdk/python/**'
      - 'api/v2alpha1/**'
      - 'kubernetes_platform/**'
      - '!**/*.md'
      - '!**/OWNERS'

jobs:
  kfp-kubernetes-library-test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python: [
          { 'version': '3.9' },
          { 'version': '3.13' }
        ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Python with uv
        uses: ./.github/actions/setup-python
        with:
          python-version: ${{matrix.python.version}}

      - name: Install protobuf dependencies & generate proto files
        id: install-protobuf-deps
        uses: ./.github/actions/protobuf

      - name: Run tests
        run: uv run pytest ./kubernetes_platform/python/test
