name: Kubeflow Pipelines V2 integration Tests

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - '.github/workflows/kubeflow-pipelines-integration-v2.yml'
      - 'scripts/deploy/github/**'
      - 'samples/core/parameterized_tfx_oss/**'
      - 'samples/core/dataflow/**'
      - 'backend/**'

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Create KFP cluster
        uses: ./.github/actions/kfp-cluster

      - name: Forward API port
        run: ./scripts/deploy/github/forward-port.sh "kubeflow" "ml-pipeline" 8888 8888

      - name: Run the Integration Tests
        run: |
          ./backend/src/v2/test/integration-test.sh
