name: KFP Backend Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    paths:
      - 'backend/**'
      - 'test/presubmit-backend-test.sh'
      - '!**/*.md'
      - '!**/OWNERS'

jobs:
  backend-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - name: Run Backend Tests
      env:
        GIT_BRANCH: ${{ github.head_ref || github.ref_name }}
        GIT_REPO: ${{ github.event.pull_request.head.repo.full_name }}
      run: |
        ./test/presubmit-backend-test.sh
