name: KFP Readthedocs Release Readiness

on:
  push:
    branches: [ master ]
  pull_request:
    paths:
      - api/**
      - sdk/**
      - kubernetes_platform/**
      - .github/workflows/readthedocs-builds.yml
      - .readthedocs.yml

jobs:
  test-readthedocs-builds:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Python with uv
        uses: ./.github/actions/setup-python
        with:
          python-version: "3.10"
          extra: docs

      - name: Install protobuf dependencies & generate proto files
        uses: ./.github/actions/protobuf

      - name: Generate kfp-kubernetes proto files
        run: make -C kubernetes_platform python

      - name: Build KFP SDK Docs
        working-directory: docs/sdk
        run: |
          uv run sphinx-build -b html . _build/html

      - name: Build KFP Kubernetes SDK Docs
        working-directory: kubernetes_platform/python/docs
        run: |
          uv run sphinx-build -b html . _build/html

      - name: Test K8s platform release script
        working-directory: kubernetes_platform/python
        env:
          KFP_KUBERNETES_VERSION: $(python -c 'from kfp.kubernetes.__init__ import __version__; print(__version__)')
          USE_FIND_LINKS: true
        run: |
          source create_release_branch.sh
