name: KFP Component YAML Test

on:
  push:
    branches: [master]

  pull_request:
    paths:
      - 'components/**/*.yaml'
      - 'test/presubmit-component-yaml.sh'
      - 'sdk/python/**'
      - 'api/v2alpha1/**'
      - '.github/workflows/sdk-component-yaml.yml'
      - '!**/*.md'
      - '!**/OWNERS'

jobs:
  test-component-yaml-kfp:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.9

      - name: Cache pip
        uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt', '**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install protobuf dependencies
        uses: ./.github/actions/protobuf

      - name: Install protobuf dependencies & kfp-pipeline-spec
        id: install-protobuf-deps
        uses: ./.github/actions/protobuf

      - name: Install kfp & kfp-kubernetes from source
        id: install-kfp-k8s-deps
        uses: ./.github/actions/kfp-k8s

      - name: Install Test dependencies
        run: |
          python3 -m pip install pytest
          python3 -m pip install pytest-asyncio-cooperative==0.37.0
          python3 -m pip install --upgrade pip

      - name: Run component YAML tests
        env:
          # We setup the env in the CI
          SETUP_ENV: false
        run: ./test/presubmit-component-yaml.sh
