name: KFP SDK YAPF Tests

on:
  push:
    branches: [master]

  pull_request:
    paths:
      - 'api/**'
      - 'sdk/python/**'
      - 'test/presubmit-yapf-sdk.sh'
      - '.github/workflows/sdk-yapf.yml'
      - '!**/*.md'
      - '!**/OWNERS'

jobs:
  yapf-sdk:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.9'

    - name: Cache pip
      uses: actions/cache@v5
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt', '**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: pip install yapf

    - name: Run YAPF SDK Tests
      run: ./test/presubmit-yapf-sdk.sh
