name: KFP SDK Docformatter Test

on:
  push:
    branches: [master]

  pull_request:
    paths:
      - 'sdk/python/**'
      - 'test/presubmit-docformatter-sdk.sh'
      - '.github/workflows/sdk-docformatter.yml'

jobs:
  test-docformatter-kfp-sdk:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Run docformatter tests
        run: ./test/presubmit-docformatter-sdk.sh
