name: KFP SDK execution tests

on:
  push:
    branches: [master]

  pull_request:
    paths:
      - '.github/workflows/sdk-execution.yml'
      - '.github/resources/**'
      - 'sdk/python/**'
      - 'api/v2alpha1/**'
      - 'backend/**'
      - '!**/*.md'
      - '!**/OWNERS'

jobs:
  sdk-execution-tests:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        k8s_version: [ "v1.30.13", "v1.33.1" ]
    name: KFP SDK Execution Tests - K8s ${{ matrix.k8s_version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # This is intended to address disk space issues that have surfaced
      # intermittently during CI -
      # https://github.com/actions/runner-images/issues/2840#issuecomment-1284059930
      - name: Free up space in /dev/root
        run: |
            echo "Disk usage before clean up:"
            df -h
            sudo rm -rf /usr/share/dotnet
            sudo rm -rf "$AGENT_TOOLSDIRECTORY"
            echo "Disk usage after clean up:"
            df -h

      # This must occur after "Free up space" step
      # otherwise python version will be overridden
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Create KFP cluster
        uses: ./.github/actions/kfp-cluster
        with:
          k8s_version: ${{ matrix.k8s_version }}

      - name: Forward API port
        run: ./.github/resources/scripts/forward-port.sh "kubeflow" "ml-pipeline" 8888 8888

      - name: Forward MLMD port
        run: kubectl -n kubeflow port-forward svc/metadata-grpc-service 8080:8080 &

      - name: Forward Minio port
        run: kubectl -n kubeflow port-forward service/minio-service 9000:9000 &

      - name: apt-get update
        run: sudo apt-get update

      - name: Install protobuf-compiler
        run: sudo apt-get install protobuf-compiler -y

      - name: Install setuptools
        run: |
          pip3 install setuptools
          pip3 freeze

      - name: Install Wheel
        run: pip3 install wheel==0.42.0

      - name: Install protobuf
        run: pip3 install protobuf==4.25.3

      - name: Generate API proto files
        working-directory: ./api
        run: make clean python

      - name: Install kfp-pipeline-spec from source
        run: |
          python3 -m pip install api/v2alpha1/python

      - name: Install requirements
        run: pip install -r ./test/sdk-execution-tests/requirements.txt

      - name: Run tests
        id: tests
        env:
          PULL_NUMBER: ${{ github.event.pull_request.number }}
          REPO_NAME: ${{ github.repository }}
        run: |
          export KFP_ENDPOINT="http://localhost:8888"
          export TIMEOUT_SECONDS=2700
          pytest -v -n 5 ./test/sdk-execution-tests/sdk_execution_tests.py
        continue-on-error: true

      - name: Collect failed logs
        if: steps.tests.outcome != 'success'
        run: |
          ./.github/resources/scripts/collect-logs.sh --ns kubeflow --output /tmp/tmp_pod_log.txt
          exit 1

      - name: Collect test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: periodic-functional-artifacts-k8s-${{ matrix.k8s_version }}
          path: /tmp/tmp*/*
