name: KFP SDK Isort Test

on:
  push:
    branches: [master]

  pull_request:
    paths:
      - 'api/**'
      - 'sdk/python/**'
      - 'test/presubmit-isort-sdk.sh'
      - '.github/workflows/sdk-isort.yml'
      - '!**/*.md'
      - '!**/OWNERS'

jobs:
  test-isort-kfp-sdk:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Python with uv
        uses: ./.github/actions/setup-python
        with:
          python-version: '3.9'

      - name: Run isort tests
        run: ./test/presubmit-isort-sdk.sh
