name: KFP SDK Upgrade Test

on:
  push:
    branches: [master]

  pull_request:
    paths:
      - 'sdk/python/**'
      - 'test/presubmit-test-sdk-upgrade.sh'
      - '.github/workflows/sdk-upgrade.yml'
      - '!**/*.md'
      - '!**/OWNERS'

jobs:
  test-upgrade-kfp-sdk:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Python with uv
        uses: ./.github/actions/setup-python
        with:
          python-version: '3.9'

      - name: Install protobuf dependencies & generate proto files
        uses: ./.github/actions/protobuf

      - name: Run SDK upgrade tests
        env:
          SETUP_ENV: false
        run: ./test/presubmit-test-sdk-upgrade.sh
