name: KFP SDK Isort Test

on:
  push:
    branches: [master]

  pull_request:
    paths:
      - 'api/**'
      - 'sdk/python/**'
      - 'test/presubmit-isort-sdk.sh'
      - '.github/workflows/sdk-isort.yml'
      - '!**/*.md'
      - '!**/OWNERS'

jobs:
  test-isort-kfp-sdk:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.9

      - name: Cache pip
        uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt', '**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Run isort tests
        run: ./test/presubmit-isort-sdk.sh
