name: KFP upgrade tests

env:
  TESTS_DIR: "./backend/test/v2/api"
  TESTS_LABEL: "ApiServerTests"
  NUMBER_OF_PARALLEL_NODES: 15
  CLUSTER_NAME: "kfp"
  NAMESPACE: "kubeflow"
  PYTHON_VERSION: "3.9"

on:
  push:
    branches: [master]

  pull_request:
    paths:
      - '.github/workflows/upgrade-test.yml'
      - '.github/workflows/image-builds.yml'
      - '.github/actions/create-cluster/**'
      - '.github/actions/deploy/**'
      - '.github/resources/**'
      - 'Makefile'
      - 'backend/api/v2beta1/**'
      - 'backend/src/**'
      - 'backend/metadata_writer/**'
      - 'backend/test/v2/api/**'
      - 'manifests/kustomize/**'
      - 'test_data/sdk_compiled_pipelines/**'
      - '!**/*.md'
      - '!**/OWNERS'

jobs:
  build:
    uses: ./.github/workflows/image-builds.yml

  upgrade-test:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s_version: [ "v1.34.0" ]
    name: KFP upgrade tests - K8s ${{ matrix.k8s_version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.9

      - name: Get last release tag
        shell: bash
        id: get-tag
        run: |
          lastRelease=$(make get-last-release-tag)
          echo "Fetched last release tag: $lastRelease"
          echo "lastRelease=$lastRelease" >> "$GITHUB_OUTPUT"

      - name: Create cluster
        uses: ./.github/actions/create-cluster
        id: create-cluster
        with:
          k8s_version: ${{ matrix.k8s_version }}

      - name: Deploy Last Release
        shell: bash
        id: deploy-release
        run: make deploy-last-release RELEASE_TAG=${{ steps.get-tag.outputs.lastRelease }}

      - name: Forward API port
        id: forward-api-port
        if: ${{ steps.deploy-release.outcome == 'success' }}
        shell: bash
        run: ./.github/resources/scripts/forward-port.sh "kubeflow" "ml-pipeline" 8888 8888
        continue-on-error: true

      - name: Prepare for Upgrade
        id: prepare-upgrade
        if: ${{ steps.forward-api-port.outcome == 'success' }}
        run: make prepare-upgrade TESTS_DIR=${{ env.TESTS_DIR }} NUMBER_OF_PARALLEL_NODES=${{ env.NUMBER_OF_PARALLEL_NODES }}
        continue-on-error: true

      - name: Stop port forwarding
        run: |
          pkill -f "port-forward"
        continue-on-error: true

      - name: Deploy from Branch
        uses: ./.github/actions/deploy
        if: ${{ steps.create-cluster.outcome == 'success' }}
        id: deploy
        with:
          image_path: ${{ needs.build.outputs.IMAGE_PATH }}
          image_tag: ${{ needs.build.outputs.IMAGE_TAG }}
          image_registry: ${{ needs.build.outputs.IMAGE_REGISTRY }}
          forward_port: 'true'

      - name: Verify Upgrade
        uses: ./.github/actions/test-and-report
        if: ${{ steps.deploy.outcome == 'success' }}
        with:
          test_directory: ${{ env.TESTS_DIR }}
          test_label: "UpgradeVerification"
          num_parallel_nodes: ${{ env.NUMBER_OF_PARALLEL_NODES }}
          default_namespace: ${{ env.NAMESPACE }}
          python_version: ${{ env.PYTHON_VERSION }}
          report_name: "Upgrade Verification"
