apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# This kustomization.yaml mirrors the upstream Argo Workflows namespace-install configuration with remote references.
# The differences:
# * this does not include argo server.
# * this separates cluster-scoped resources to its own folder.

resources:
- ../../base
- https://github.com/argoproj/argo-workflows/manifests/namespace-install/workflow-controller-rbac?ref=v3.7.3
patches:
- path: workflow-controller-deployment-patch.json
  target:
    group: apps
    kind: Deployment
    name: workflow-controller
    version: v1
# Argo Workflow and the Agent communicate via the new WorkflowTaskSet CR,
# so RBAC permissions are required for this resource.
# Details: https://argo-workflows.readthedocs.io/en/latest/http-template/#argo-agent-rbac
- path: workflow-controller-argo-role-patch.json
  target:
    group: rbac.authorization.k8s.io
    version: v1
    kind: Role
    name: argo-role