apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# This kustomization.yaml mirrors the upstream Argo Workflows namespace-install configuration with remote references.
# The differences:
# * this does not include argo server.
# * this separates cluster-scoped resources to its own folder.

resources:
- ../../base
- https://github.com/argoproj/argo-workflows/manifests/namespace-install/workflow-controller-rbac?ref=v3.7.3
patches:
- path: workflow-controller-deployment-patch.json
  target:
    group: apps
    kind: Deployment
    name: workflow-controller
    version: v1
