apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app: ml-pipeline
  name: ml-pipeline-configmap-manager
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
- apiGroups:
  - ""
  resourceNames:
  - kfp-argo-workflow-semaphores
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - update
  - patch

